body.labsome-light {
    background-color: $labsome-bg-color;
}

.text-primary {
  color: $brand-primary;
}

.text-success {
  color: $brand-success;
}

.text-info {
  color: $brand-info;
}

.text-warning {
  color: $brand-warning;
}

.text-danger {
  color: $brand-danger;
}
