ul.nav-stacked {
  li.heading {
    color: $labsome-nav-pills-color;
    font-weight: $labsome-nav-pills-font-weight;
    text-transform: uppercase;
    padding: $labsome-nav-pills-padding;

    &:first-child {
      padding-top: 0;
    }
  };
}

a.list-group-item,
button.list-group-item {
  &.no-hover-bg {
    &:hover,
    &:focus {
      background-color: $list-group-bg;
    }
  }
}
