ul.nav-stacked {
  li.heading {
    color: $labsome-nav-pills-color;
    font-weight: $labsome-nav-pills-font-weight;
    text-transform: uppercase;
    padding: $labsome-nav-pills-padding;

    &:first-child {
      padding-top: 0;
    }
  };
}
