body {
    overflow-x: hidden;
}

.sidebar-closed {
    right: -$labsome-sidebar-wd;
}

.sidebar-open {
    right: 0;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $labsome-sidebar-wd;
    margin-top: 0;
    background-color: $labsome-sidebar-bg;
    color: $labsome-sidebar-color;
    z-index: $labsome-sidebar-z-index;
    overflow: auto;
    @include transition(all .3s ease);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    padding: $labsome-sidebar-padding;
    backdrop-filter: blur(10px);

    .close-button {
        padding: 1rem 1.25rem;

        .icon {
            font-size: 1.5rem;
            vertical-align: middle;
        }

        .text {
            vertical-align: middle;
        }
    }

    .menu {
        .heading {
            padding: 0 1.25rem;
            margin: 1.5rem 0 0 0;
            color: darken($labsome-sidebar-color, 25%);
            text-transform: uppercase;
        }

        .menu-item {
            color: $labsome-sidebar-color;
            padding: 0 1.25rem;
            margin: .5rem 0 0 0;

            a {
                color: $labsome-sidebar-color;

                &:hover,
                &:focus {
                    color: darken($labsome-sidebar-color, 20%);
                    text-decoration: none;
                }
            }
        }
    }
}
