$labsome-status-dot-size:                  .25rem;
$labsome-status-dot-border-size:           2px;
$labsome-status-dot-contrast:              10%;
$labsome-status-dot-color-primary:         $brand-primary;
$labsome-status-dot-color-success:         $brand-success;
$labsome-status-dot-color-info:            $brand-info;
$labsome-status-dot-color-warning:         $brand-warning;
$labsome-status-dot-color-danger:          $brand-danger;
$labsome-status-dot-color-unknown:         white;

.status-dot {
  display: inline-block;
  color: white;
  border-radius: 50%;
  width: $labsome-status-dot-size;
  height: $labsome-status-dot-size;
}

.status-dot-2x {
  width: (2 * $labsome-status-dot-size);
  height: (2 * $labsome-status-dot-size);
}

.status-dot-3x {
  width: (3 * $labsome-status-dot-size);
  height: (3 * $labsome-status-dot-size);
}

.status-dot-4x {
  width: (4 * $labsome-status-dot-size);
  height: (4 * $labsome-status-dot-size);
}

.status-dot-5x {
  width: (5 * $labsome-status-dot-size);
  height: (5 * $labsome-status-dot-size);
}

@mixin status-dot-style($color) {
  background-color: lighten($color, $labsome-status-dot-contrast);
  border: $labsome-status-dot-border-size solid darken($color, $labsome-status-dot-contrast)
}

.status-dot-primary {
  @include status-dot-style($color: $labsome-status-dot-color-primary);
}

.status-dot-success {
  @include status-dot-style($color: $labsome-status-dot-color-success);
}

.status-dot-info {
  @include status-dot-style($color: $labsome-status-dot-color-info);
}

.status-dot-warning {
  @include status-dot-style($color: $labsome-status-dot-color-warning);
}

.status-dot-danger {
  @include status-dot-style($color: $labsome-status-dot-color-danger);
}

.status-dot-unknown {
  @include status-dot-style($color: $labsome-status-dot-color-unknown);
}
