.status-dot {
  display: inline-block;
  color: white;
  border-radius: 50%;
  width: $labsome-status-dot-size;
  height: $labsome-status-dot-size;
}

@mixin status-dot-size($factor) {
  width: ($factor * $labsome-status-dot-size);
  height: ($factor * $labsome-status-dot-size);
  margin: 0 0 (3px + (-1px * $factor)) 0;
}

.status-dot-2x { @include status-dot-size(2); }
.status-dot-3x { @include status-dot-size(3); }
.status-dot-4x { @include status-dot-size(4); }
.status-dot-5x { @include status-dot-size(5); }

@mixin status-dot-style($color) {
  @include gradient-radial(lighten($color, $labsome-status-dot-contrast * 2), $color);
  border: $labsome-status-dot-border-size solid darken($color, $labsome-status-dot-contrast)
}

.status-dot-primary { @include status-dot-style($color: $labsome-status-dot-color-primary); }
.status-dot-success { @include status-dot-style($color: $labsome-status-dot-color-success); }
.status-dot-info    { @include status-dot-style($color: $labsome-status-dot-color-info); }
.status-dot-warning { @include status-dot-style($color: $labsome-status-dot-color-warning); }
.status-dot-danger  { @include status-dot-style($color: $labsome-status-dot-color-danger); }
.status-dot-unknown { @include status-dot-style($color: $labsome-status-dot-color-unknown); }
