.navbar-labsome {
  background-color: $navbar-labsome-bg;
  border-color: $navbar-labsome-border;

  .navbar-brand {
    padding: 0;
    text-align: center;
    vertical-align: middle;

    img {
      margin: (($navbar-height - $navbar-labsome-logo-height) / 2) 1.2rem;
      width: (4 * $navbar-labsome-logo-height);
      height: $navbar-labsome-logo-height;
      padding: 0;
    }
  }

  .navbar-text {
    color: $navbar-labsome-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-labsome-link-color;

      &:hover,
      &:focus {
        color: $navbar-labsome-link-hover-color;
        background-color: $navbar-labsome-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-labsome-link-active-color;
        background-color: $navbar-labsome-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-labsome-link-disabled-color;
        background-color: $navbar-labsome-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-labsome-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-labsome-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-labsome-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-labsome-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-labsome-link-active-bg;
        color: $navbar-labsome-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-labsome-link-color;
          &:hover,
          &:focus {
            color: $navbar-labsome-link-hover-color;
            background-color: $navbar-labsome-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-labsome-link-active-color;
            background-color: $navbar-labsome-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-labsome-link-disabled-color;
            background-color: $navbar-labsome-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-labsome-link-color;
    &:hover {
      color: $navbar-labsome-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-labsome-link-color;
    &:hover,
    &:focus {
      color: $navbar-labsome-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-labsome-link-disabled-color;
      }
    }
  }

  img.profile-picture {
    width: $navbar-labsome-profile-picture-size;
    height: $navbar-labsome-profile-picture-size;
    margin: -(($navbar-labsome-profile-picture-size - $font-size-base) / 2) 0;
    padding: 0;
    border: 1px solid #aaa;
  }
}
