.navbar-labsome {
    width: 100%;
    height: $navbar-height;
    color: $labsome-navbar-color;
    background-color: $labsome-navbar-bg;
    border-bottom: 1px solid $labsome-navbar-border;
    margin: 0 0 $labsome-navbar-margin-bottom 0;

    tr {
        td {
            white-space: nowrap;
        }

        td#brand {
            padding: $labsome-navbar-padding-v 0 $labsome-navbar-padding-v $labsome-navbar-padding-h;
        }

        td#search {
            width: 100%;
            padding: $labsome-navbar-padding-v 0 $labsome-navbar-padding-v $labsome-navbar-padding-h;
        }

        td#profile {
            padding: $labsome-navbar-padding-v $labsome-navbar-padding-h;
            vertical-align: middle;

            img {
                margin: 0 5px 0 0;
                width: 35px;
                height: 35px;
                padding: 0;
                border: 1px solid #aaa;
            }
        }
    }
}
