$navbar-labsome-color:                  #333;
$navbar-labsome-bg:                     white;
$navbar-labsome-border:                 darken($navbar-labsome-bg, 10%);
$navbar-labsome-padding-v:              15px;
$navbar-labsome-padding-h:              20px;
$navbar-labsome-margin-bottom:          20px;

.navbar-labsome {
    width: 100%;
    height: $navbar-height;
    color: $navbar-labsome-color;
    background-color: $navbar-labsome-bg;
    border-bottom: 1px solid $navbar-labsome-border;
    margin: 0 0 $navbar-labsome-margin-bottom 0;

    tr {
        td {
            white-space: nowrap;
        }

        td#brand {
            padding: $navbar-labsome-padding-v 0 $navbar-labsome-padding-v $navbar-labsome-padding-h;
        }

        td#search {
            width: 100%;
            padding: $navbar-labsome-padding-v 0 $navbar-labsome-padding-v $navbar-labsome-padding-h;
        }

        td#profile {
            padding: $navbar-labsome-padding-v $navbar-labsome-padding-h;
            vertical-align: middle;

            img {
                margin: 0 5px 0 0;
                width: 35px;
                height: 35px;
                padding: 0;
                border: 1px solid #aaa;
            }
        }
    }
}
