@import "../../../../static/bower_components/lato-font/scss/lato-font";

html, body {
  font-size: $font-size-base;
  font-weight: $labsome-font-weight-normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

b, strong {
    font-family: $font-family-sans-serif;
    font-weight: $labsome-font-weight-strong;
}

mild {
  font-weight: $labsome-font-weight-mild;
}

.label {
    font-family: $font-family-sans-serif;
    font-weight: $labsome-font-weight-normal;
}

.x08 { font-size: .8rem;  }
.x09 { font-size: .9rem;  }
.x1  { font-size: 1rem;   }
.x12 { font-size: 1.2rem; }
.x15 { font-size: 1.5rem; }
.x2  { font-size: 2rem;   }
.x25 { font-size: 2.5rem; }
.x3  { font-size: 3rem;   }
.x35 { font-size: 3.5rem; }
.x4  { font-size: 4rem;   }
.x45 { font-size: 4.5rem; }
.x5  { font-size: 5rem;   }
.x55 { font-size: 5.5rem; }
.x6  { font-size: 6rem;   }
.x65 { font-size: 6.5rem; }
.x7  { font-size: 7rem;   }
.x75 { font-size: 7.5rem; }
.x8  { font-size: 8rem;   }
.x85 { font-size: 8.5rem; }
.x9  { font-size: 9rem;   }
.x95 { font-size: 9.5rem; }
.x10 { font-size: 10rem;  }

.lh15  { line-height: 1.5rem; }
.lh175 { line-height: 1.75rem; }
.lh2   { line-height: 2rem;    }
.lh35  { line-height: 3.5rem;  }

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
