@import url('https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900');

$font-family-sans-serif:  'Raleway', sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family:    'Raleway', sans-serif;

$font-size-base: 14px; // Override bootstrap's default
