extends ../base/base

append head
  title
    | Login - Labsome

append body
  .container
    .row
      .col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
        +login_box
        include ../base/footer

mixin flash_messages
  | {%- with messages = get_flashed_messages(with_categories=true) -%}
  | {% if messages or form.username.errors or form.password.errors %}
  ul.list-group
    | {% for category, message in messages %}
    li.list-group-item.list-group-item-warning
      | {{ message }}
    | {% endfor %}
    | {% for error in form.username.errors %}
    li.list-group-item.list-group-item-warning
      | {{ error }}
    | {% endfor %}
    | {% for error in form.password.errors %}
    li.list-group-item.list-group-item-warning
      | {{ error }}
    | {% endfor %}
  | {% endif %}
  |{%- endwith %}

mixin login_box
  .panel.panel-default.panel-login
    .panel-body.text-center
      img(src='/static/img/logo.png' style='width:120px; height: 30px; margin:2rem 0;')
      +flash_messages
      form(role='form' name='loginForm' method='post')
        .form-group
          input.input-lg.form-control(type='text' name='username' placeholder='Username' required='')
        .form-group
          input.input-lg.form-control(type='password' name='password' placeholder='Password' required='')
        | {{ form.hidden_tag() }}
        .form-group
          button.btn.btn-block.btn-lg.btn-primary(type='submit')
            | Sign In

append scripts
  script(type='text/javascript').
    $(function() {
      $('input').first().focus();
    });
