mixin form
  form(name='createLab' role='form' ng-submit='save()')
    .form-group
      label.control-label
        | Lab Name
      input.form-control(type='text' ng-model='lab.name' placeholder='Name' required='' focus-me='true')
    h4.text-left
      button.btn.btn-success(ng-click='save()' ng-disabled='working || createLab.$invalid')
        | Create Lab

mixin content
  .panel.panel-default
    .panel-body
      +form

+content
