.modal-header
  button.close(type="button" data-dismiss="modal" aria-label="Close")
    span(aria-hidden="true") &times;
  h4.modal-title
    | Delete
    lab-name(id='lab_id')

.modal-body
  .alert.alert-danger
    i.fa.fa-fw.fa-warning
    | Your are about to delete
    strong
      lab-name(id='lab_id')
  p
    | If you continue all objects associated with this lab, including their history, will be deleted.
    strong
      |  This action cannot be undone.
  p
    | Are you sure you want to continue?

.modal-footer
  button.btn.btn-link(type='button' ng-click='cancel()')
    | Cancel
  button.btn.btn-danger(type='button' ng-click='ok()')
    | Delete This Lab
