mixin lab_row
  table.details
    tr
      td.main
        .lh175
          strong
            i.fa.fa-building-o
            | &nbsp;
            lab-name(id='lab.id')
        .lh175
          span(ng-if='lab.active_types | isEmpty')
            mild.text-danger
              i.fa.fa-warning
              | &nbsp;
              | No hardware type is associated with this lab.
              | &nbsp;
              a.link(ui-sref='.set-hardware-types({id: "{{ lab.id }}"})')
                | Click here to fix this
          span(ng-if='lab.active_types | isNotEmpty')
            mild.text-danger(ng-if='labObjects.byLabId[lab.id].all | isEmpty')
              i.fa.fa-warning
              | &nbsp;
              | This lab is empty
            span(ng-if='labObjects.byLabId[lab.id].all | isNotEmpty')
              | {{ labObjects.byLabId[lab.id].all.length }} objects in this lab
      td
        a.text-link.dropdown-toggle(id='dropdown-menu-{{ lab.id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
          i.icon-options-vertical(style='padding:0 1rem;')
        ul.dropdown-menu.pull-right(aria-labelledby='dropdown-menu-{{ lab.id }}')
          li.heading
            | Lab Objects
          li.text-left
            a(ui-sref='.add-servers({id: "{{ lab.id }}"})')
              | Add Servers
          li.text-left
            a(ui-sref='.set-hardware-types({id: "{{ lab.id }}"})')
              | Set Hardware Types
          li.divider
          li.heading
            | More Options
          li.text-left
            a(ui-sref='.rename({id: "{{ lab.id }}"})')
              | Rename This Lab
          li.text-left
            a(ui-sref='.delete({id: "{{ lab.id }}"})')
              | Delete This Lab

mixin content
  .panel.panel-default
    ul.list-group(ng-if='allLabs.ready')
      li.list-group-item(ng-repeat='lab in allLabs.all | orderBy:"display_name"')
        +lab_row
      li.list-group-item(ng-if='allLabs.all.length == 0')
        include ../labs/no-labs
    
+content
