mixin lab_row
  table.details
    tr
      td.main
        .lh175
          strong
            i.fa.fa-building-o
            | &nbsp;
            lab-name(id='lab.id')
        .lh175
          .text-danger(ng-if='labObjects.byLabId[lab.id].all | isEmpty')
            i.fa.fa-warning
            | &nbsp;
            | This lab is empty
          span(ng-if='labObjects.byLabId[lab.id].all | isNotEmpty')
            | {{ labObjects.byLabId[lab.id].all.length }} objects in this lab
      td
        a.text-link.dropdown-toggle(id='dropdown-menu-{{ lab.id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
          i.icon-options-vertical(style='padding:0 1rem;')
        ul.dropdown-menu.pull-right(aria-labelledby='dropdown-menu-{{ lab.id }}')
          li.heading
            | Lab Objects
          li.text-left
            a(ui-sref='.add-servers({id: "{{ lab.id }}"})')
              | Add Servers
          li.divider
          li.heading
            | More Options
          li.text-left
            a(ui-sref='.rename({id: "{{ lab.id }}"})')
              | Rename This Lab
          li.text-left
            a(ui-sref='.delete({id: "{{ lab.id }}"})')
              | Delete This Lab

mixin content
  div(ng-if='allLabs.all.length == 0')
    include ../labs/no-labs
  .panel.panel-default(ng-if='allLabs.all.length > 0')
    ul.list-group(ng-if='allLabs.ready')
      li.list-group-item(ng-repeat='lab in allLabs.all | orderBy:"display_name"')
        +lab_row
    
+content
