.panel.panel-default
  .panel-body
    form(role='form', name='theForm', novalidate='')
      include ldap-settings
      h4.text-center
        button.btn.btn-primary(ng-disabled='working || theForm.$invalid' ng-click='save_settings()')
          span.fa.fa-fw.fa-circle-o-notch.fa-spin(ng-if='working')
          span(ng-if='!working')
            | Save Settings
