.modal-header
  button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
    span(aria-hidden="true") &times;
  h4.modal-title
    | Rename
    lab-name(id='lab_id')

mixin alerts
  .alert.alert-warning
    p
      strong
        i.fa.fa-fw.fa-warning
        | Careful
    p
      | Renaming a lab changes the URLs of all the pages of the lab. Any links you or
      | other users had to this lab would break.
  p
    | You can always undo this operation by renaming back to the original name.

mixin form
  form(role='form' ng-submit='ok()' ng-init='result.name = allLabs.byId[lab_id].name')
    .form-group
      label.control-label
        | New Lab Name
      input.form-control(type='text' ng-model='result.name' placeholder='Name' required='')

.modal-body
  +alerts
  +form

.modal-footer
  button.btn.btn-link(type='button' ng-click='cancel()')
    | Cancel
  button.btn.btn-primary(type='button' ng-click='ok()')
    | Save Changes
