.modal-header
  button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
    span(aria-hidden="true") &times;
  h4.modal-title
    | Hardware Types For
    lab-name(id='lab_id')

mixin type_selection
  ul.list-group
    list.list-group-item(ng-repeat='type in objectTypes.all' ng-class="{'active': selected_types[type.type_key]}")
      a.link.no-ul(ng-click='toggle_type_selection(type.type_key)')
        .x12
          i.fa.fa-fw.fa-toggle-off(ng-if='!selected_types[type.type_key]')
          i.fa.fa-fw.fa-toggle-on(ng-if='selected_types[type.type_key]')
          | &nbsp;
          | {{ type.display_name }}
          span.x08(ng-if='type.display_name != type.type_key')
            | &nbsp;&nbsp;
            i.fa.fa-fw.fa-tag
            | {{ type.type_key }}
      .x09(ng-if='selected_types[type.type_key]')
        | Mommy got me one
        | &nbsp;
        input.inline(type='text' ng-model='result.type_naming[type.type_key].name_singular' required='')
        | &nbsp;
        | for my birthday but I wanted two
        | &nbsp;
        input.inline(type='text' ng-model='result.type_naming[type.type_key].name_plural' required='')

.modal-body
  p
    div
      | Please select the hardware types to include in this lab.
    div
      | For each type you can also specify a different term users will see for that type.
  form(name='setHardwareTypes' ng-submit='ok()')
    .panel.panel-default
      +type_selection

.modal-footer
  button.btn.btn-link(type='button' ng-click='cancel()')
    | Cancel
  button.btn.btn-primary(type='button' ng-click='ok()' ng-disabled='setHardwareTypes.$invalid')
    | Save Changes
