mixin user_details
  div(style={padding: '.5rem'})
    div(style={padding: '.25rem .5rem', 'border-color': '#aaa', 'border-style': 'dashed', 'border-width': '0 0 0 1px'})
      include ../account/user-info

mixin user_row
  a.link.list-group-item.no-hover-bg(ng-repeat='user in users.all | orderBy:"display_name"' ui-sref='.({id: "{{ user.id }}"})')
    table.details
      tr.lh2
        td.pad-right
          i.fa.fa-angle-right(ng-if='selected_user_id != user.id')
          i.fa.fa-angle-down(ng-if='selected_user_id == user.id')
        td.pad-right
          user-avatar(id='user.id' size='1.5rem')
        td.main
          user-display-name(id='user.id')
      tr(ng-if='selected_user_id == user.id')
        td
        td
        td
          +user_details

mixin content
  .panel.panel-default
    ul.list-group
      +user_row

+content
