mixin sidebar
  ul.sidebar-nav
    li.logo
      a(ui-sref='labs')
        img(src='/static/img/logo-white-sidebar.png')
    li(ui-sref-active='active')
      a(ui-sref='labs')
        .nav-icon
          i.icon-chemistry
        .nav-text
          | Labs
    li(ui-sref-active='active')
      a(ui-sref='account')
        .nav-icon
          i.icon-user
        .nav-text
          | Account
    li(ui-sref-active='active' ng-if='curUser.is_admin')
      a(ui-sref='admin')
        .nav-icon
          i.icon-settings
        .nav-text
          | Admin

.top-level-container
  .sidebar
    +sidebar
  .main-view-wrapper
    .main-view(ui-view='')
