.modal-header
  button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
    span(aria-hidden="true") &times;
  h4.modal-title
    | Delete
    object-name(id='cluster_id')

mixin alert
  .alert.alert-danger
    p
      i.fa.fa-fw.fa-warning
      | Warning
    p
      | You are about to delete
      strong
        object-name(id='cluster_id')
      | .

mixin outcome
  p
    | If you proceed, your ownership of this cluster and all servers in it will be released.
  p
    | Are you are you want to delete this cluster?

.modal-body
  +alert
  +outcome

.modal-footer
  button.btn.btn-default(ng-click='cancel()')
    | Cancel
  button.btn.btn-danger(ng-click='ok()')
    | Yes, Delete This Cluster
