mixin no_clusters
  .panel.panel-default
    .panel-body
      h3.text-center
        i.icon-ghost.x6
      p.text-center.x2
        | No Clusters Yet
      p.text-center.x12
        | Create your first cluster and add some servers to it
      p.text-center.x2
        button.btn.btn-lg.btn-success(ng-click='create_cluster()')
          | Create a Cluster

mixin cluster_actions
  .dropdown(ng-if='curUser.is_admin || (cluster.ownerships | isEmpty) || (cluster.ownerships[0].owner_id == curUser.id)')
    a.text-link.dropdown-toggle(id='dropdown-menu-{{ lab.id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
      i.icon-options-vertical(style='padding:0 1rem;')
    ul.dropdown-menu.pull-right(aria-labelledby='dropdown-menu-{{ lab.id }}')
      li.text-left(ng-if='cluster.ownerships | isEmpty')
        a.link(ng-click='take_ownership(cluster.id)')
          | Take Ownership
      li.text-left(ng-if='cluster.ownerships | isNotEmpty')
        a.link(ng-click='release_ownership(cluster.id)')
          | Release Ownership
      li.divider
      li.text-left
        a.link(ng-click='delete_cluster(cluster.id)')
          | Delete This Cluster

mixin cluster_row
  table.details
    tr
      td.pad-right
        .x15
          i.fa.fa-fw.fa-server
      td.heading.nowrap
        object-name.uppercase(id='cluster.id')
      td(style={width: '100%'})
        span(ng-repeat='ownership in cluster.ownerships' style={'padding': '0 0 0 .5rem'})
          user-avatar(id='ownership.owner_id' size='1.5rem')
          | &nbsp;
          user-display-name(id='ownership.owner_id')
      td
        +cluster_actions
    tr(ng-repeat='server_id in cluster.servers')
      td
      td(colspan='3')
        .status-dot.status-dot-2x(class='status-dot-{{ labObjects.byObjectId[server_id].status }}')
        object-name(id='server_id')
    tr(ng-if='cluster.servers | isEmpty')
      td
      td.tagline.opacity08(colspan='3')
        | This cluster is empty

mixin cluster_list
  .panel.panel-default
    ul.list-group
      li.list-group-item(ng-repeat='cluster in objects | orderBy:"display_name"')
        +cluster_row

mixin create_button
  p.text-right(ng-if='curUser.is_admin')
    button.btn.btn-default(ng-click='create_cluster()')
      | Create a Cluster

mixin content
  span(ng-if='objects | isEmpty')
    +no_clusters
  span(ng-if='objects | isNotEmpty')
    +cluster_list
    +create_button

ui-view
  +content
