mixin no_clusters
  .big-message
    h3.text-center
      i.icon-ghost.x6
    p.text-center.x2
      | No Clusters Yet
    p.text-center.x12
      | Create your first cluster and add some servers to it
    p.text-center.x2
      button.btn.btn-lg.btn-success(ng-click='create_cluster()')
        | Create a Cluster

mixin cluster_row
  table.details
    tr
      td.pad-right
        .x15
          i.fa.fa-fw.fa-server
      td.heading.nowrap
        object-name.uppercase(id='cluster.id')
    tr
      td
      td
        span.tagline.opacity08(ng-if='cluster.servers | isEmpty')
          | This cluster is empty
        span(ng-if='cluster.servers | isNotEmpty')
          span.label.label-success
            object-count-with-type(lab-id='lab_id' type-key='labObjects.byObjectId[cluster.servers[0]].type_key' count='{{ cluster.servers.length }}')
        span(ng-repeat='ownership in cluster.ownerships' style={'padding': '0 0 0 .5rem'})
          user-avatar(id='ownership.owner_id' size='1.5rem')
          | &nbsp;
          user-display-name(id='ownership.owner_id')

mixin cluster_list
  .panel.panel-default
    ul.list-group
      a.link.list-group-item(ng-repeat='cluster in objects | orderBy:"display_name"'
                             ui-sref='.cluster-page({clusterSlug: "{{ cluster.slug }}"})')
        +cluster_row

mixin create_button
  p.text-right(ng-if='curUser.is_admin')
    button.btn.btn-default(ng-click='create_cluster()')
      | Create a Cluster

mixin content
  .page-layout
    .page-layout-content-no-nav(ng-if='objects | isEmpty')
      +no_clusters
    .page-layout-content-no-nav(ng-if='objects | isNotEmpty')
      +cluster_list
      +create_button

ui-view
  +content
