mixin lab_empty
  .panel.panel-default
    .panel-body
      h3.text-center
        i.icon-clock.x6(ng-if='!curUser.is_admin')
        i.icon-ghost.x6(ng-if='curUser.is_admin')
      p.text-center.x2
        | This lab is still empty
      p.text-center.x12(ng-if='!curUser.is_admin')
        | Please wait you administrator is adding new hardware
      p.text-center.x12(ng-if='curUser.is_admin')
        | You need to start by choosing which hardware types are in this lab
      p.text-center.x2(ng-if='curUser.is_admin')
        button.btn.btn-lg.btn-success(ui-sref='admin.labs.set-hardware-types({id: "{{ lab_id }}"})')
          | Set Hardware Types

mixin current_lab_menu
  ul.nav.nav-pills.nav-stacked
    li.heading
      | Hardware
    li(role='presentation' ng-repeat='type_key in allLabs.byId[lab_id].active_types' ui-sref-active='active')
      a.link(ui-sref='.object-type({typeKey: "{{ type_key }}"})')
        | {{ allLabs.byId[lab_id].type_naming[type_key].name_plural | titlecase }}
        span.badge.pull-right
          | {{ (labObjects.byLabId[lab_id].byObjectType[type_key] || []).length }}

mixin content
  .row(ng-if='allLabs.byId[lab_id].active_types | isEmpty')
    .col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
      +lab_empty
  .row(ng-if='allLabs.byId[lab_id].active_types | isNotEmpty')
    .col-sm-3
      +current_lab_menu
    .col-sm-9
      div(ui-view='')

+content
