mixin current_lab
  i.fa.fa-fw.fa-building-o
  lab-name(id='selectedLab.lab_id')

mixin one_lab
  li(ng-if='allLabs.ready && (allLabs.all.length == 1)')
    a
      +current_lab

mixin multiple_labs
  li.dropdown(ng-if='allLabs.ready && (allLabs.all.length > 1)')
    a.link.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
      +current_lab
      i.fa.fa-fw.fa-angle-down
    ul.dropdown-menu
      li.heading
        | Other Labs
      li(ng-repeat='other_lab in allLabs.all | orderBy:"name"')
        a.link(ui-sref='labs.lab-page({"lab_name": other_lab.name.toLowerCase()})' ng-if='other_lab.id != selectedLab.lab_id')
          lab-name(id='other_lab.id')

ul.nav.navbar-nav(ng-if='selectedLab.lab_id')
  +one_lab
  +multiple_labs
