mixin lab_empty
  .panel.panel-default
    .panel-body
      h3.text-center
        i.icon-clock.x6(ng-if='!curUser.is_admin')
        i.icon-ghost.x6(ng-if='curUser.is_admin')
      p.text-center.x2
        | This lab is still empty
      p.text-center.x12(ng-if='!curUser.is_admin')
        | Please wait you administrator is adding new hardware
      p.text-center.x12(ng-if='curUser.is_admin')
        | You need to start by choosing which hardware types are in this lab
      p.text-center.x2(ng-if='curUser.is_admin')
        button.btn.btn-lg.btn-success(ui-sref='admin.labs.set-hardware-types({id: "{{ lab_id }}"})')
          | Set Hardware Types

mixin current_lab_menu
  ul.nav.nav-pills.nav-stacked
    li.heading
      | Hardware
    li(role='presentation' ng-repeat='(type_key, objects) in objectsByType' ng-class="{'active': selected_type_key == type_key}")
      a.link(ng-click='select_type(type_key)')
        | {{ allLabs.byId[lab_id].type_naming[type_key].name_plural | titlecase }}
        span.badge.pull-right
          | {{ objects.length }}


mixin content
  .row(ng-if='objectsByType | isEmpty')
    .col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
      +lab_empty
  .row(ng-if='objectsByType | isNotEmpty')
    .col-sm-3
      +current_lab_menu
    .col-sm-9
      objects-list(lab-id='lab_id' type-key='selected_type_key' objects='objectsByType[selected_type_key]')

+content
