mixin type_selection
  ul.list-group
    list.list-group-item(ng-repeat='type in objectTypes.all' ng-class="{'opacity05': !selected_types[type.type_key]}")
      a.link.no-ul(ng-click='toggle_type_selection(type.type_key)')
        .x12
          i.fa.fa-fw.fa-toggle-off(ng-if='!selected_types[type.type_key]')
          i.fa.fa-fw.fa-toggle-on(ng-if='selected_types[type.type_key]')
          | &nbsp;
          | {{ type.display_name }}
          span.x08(ng-if='type.display_name != type.type_key')
            | &nbsp;&nbsp;
            i.fa.fa-fw.fa-tag
            | {{ type.type_key }}
      .x09(ng-if='selected_types[type.type_key]')
        | Mommy got me one
        | &nbsp;
        input.inline(type='text' ng-model='result.type_naming[type.type_key].name_singular' required='')
        | &nbsp;
        | for my birthday but I wanted two
        | &nbsp;
        input.inline(type='text' ng-model='result.type_naming[type.type_key].name_plural' required='')

mixin content
  form(name='setHardwareTypes' ng-submit='save_changes()')
    .panel.panel-default
      .panel-heading
        | Hardware Types
      .panel-body
        div
          | Please select the hardware types to include in this lab.
        div
          | For each type you can also specify a different term users will see for that type.
      +type_selection
      .panel-footer.text-right
        button.btn.btn-primary(type='button' ng-click='save_changes()' ng-disabled='setHardwareTypes.$invalid')
          | Save Changes

+content
