objects-list(lab-id='lab_id' type-key='type_key'
             ng-if='allLabs.byId[lab_id] && objectTypes.byTypeKey[type_key]'
             objects='labObjects.byLabId[lab_id].byObjectType[type_key]')
