mixin no_servers
  .big-message(ng-if='objects | isEmpty')
    h3.text-center
      i.icon-clock.x6(ng-if='!curUser.is_admin')
      i.icon-ghost.x6(ng-if='curUser.is_admin')
    p.text-center.x2
      | No
      | &#32;
      object-type-title(type-id='type_obj_id')
      | &#32;
      | Yet
    p.text-center.x12(ng-if='!curUser.is_admin')
      | Please wait while your administrator is adding new
      | &#32;
      object-type-name(type-id='type_obj_id')
    p.text-center.x12(ng-if='curUser.is_admin')
      | You need to install the Warehaus agent on your
      | &#32;
      object-type-name(type-id='type_obj_id')
      | &#32;
      | to see them here
    p.text-center.x2(ng-if='curUser.is_admin')
      button.btn.btn-lg.btn-success(type='button' ui-sref='.({tab: "adding-servers"})')
        | Start Adding
        | &#32;
        object-type-title(type-id='type_obj_id')

mixin server_row
  table.details
    tr
      td.pad-right(style={'vertical-align': 'middle'})
        .status-dot.status-dot-3x(class='status-dot-{{ server.status }}')
      td.heading(style={'width': '100%', 'vertical-align': 'middle'})
        object-name.uppercase(id='server.id')
    tr(ng-if='clustersToServers.cluster_of_server[server.id]')
      td
      td.tagline
        | Part of
        | &nbsp;
        i.fa.fa-server
        object-name(id='clustersToServers.cluster_of_server[server.id]')

mixin server_list
  +no_servers
  .panel.panel-default(ng-if='objects | isNotEmpty')
    ul.list-group
      a.list-group-item(ng-repeat='server in objects | orderObjectBy:"display_name"'
                        ui-sref='.object-page({objSlug: "{{ server.slug }}"})')
        +server_row

mixin adding_servers
  p
    | Warehaus manages
    | &#32;
    object-type-name(type-id='type_obj_id')
    | &#32;
    | by running a small agent on them.
  p
    | This agent stays connected to Warehaus so it knows the
    | &#32;
    object-type-name(type-id='type_obj_id' sample='1')
    | &#32;
    | is online, plus it sends diagnostic information once
    | in a while to make sure the
    | &#32;
    object-type-name(type-id='type_obj_id' sample='1')
    | &#32;
    | is functioning properly.
  .alert.alert-info
    p
      strong
        i.fa.fa-info-circle
        | &nbsp;Each hardware type has a different agent
    p
      | Warehaus generates different agent code for each hardware type. Make sure to download
      | the agent for each hardware type separarely.
  h4
    | 1. Download the agent code
  p
    | Run the following on your
    | &#32;
    object-type-name(type-id='type_obj_id')
    | &#32;
    | to download the agent code:
  pre
    | curl {{ agent_url }} > agent.py
  p
    | Or in case you only have <samp>wget</samp>:
  pre
    | wget -O agent.py {{ agent_url }}
  h4
    | 2. Run as root
  p
    | Run the agent as the root user, and make sure the agent also starts on boot.
  p
    | Once you run the agent, your
    | &#32;
    object-type-name(type-id='type_obj_id' sample='1')
    | &#32;
    | will immediately show up in Warehaus.

mixin side_menu
  ul
    li.heading
      | Filter
    li(ui-sref-active='active')
      a.text-link(ui-sref='.({tab: "all"})')
        | All
        | &#32;
        object-type-title(type-id='type_obj_id')
        span.pull-right.badge
          | {{ objects | count }}
    li.heading(ng-if='curUser.is_admin')
      | Admin Stuff
    li(ng-if='curUser.is_admin' ui-sref-active='active')
      a(ui-sref='.({tab: "adding-servers"})')
        | Adding
        | &#32;
        object-type-title(type-id='type_obj_id')

mixin content
  .page-layout(ng-controller='ServerListController')
    .page-layout-nav
      +side_menu
    .page-layout-content(ng-if='tab == "all"')
      +server_list
    .page-layout-content(ng-if='tab == "adding-servers"')
      +adding_servers

+content
