mixin server_info_resources
  .panel.panel-default(ng-if='server.agent_info')
    .panel-heading
      | Resources
    table.table.text-center
      tr
        td(style={width: '33%'})
          h1
            | {{ server.agent_info.hw_cpu[0]['cpu MHz'] / 1024 | number:2 }}
            | &#32;
            | GHz
          | CPU
        td(style={width: '33%'})
          h1
            | {{ server.agent_info.hw_mem.MemTotal | numeraljs:'capacity' }}
          | RAM
        td(style={width: '33%'})
          h1
            | {{ server.agent_info.hw_fs['/'].total_bytes | numeraljs:'capacity' }}
          | Filesystem

mixin server_info_net
  .panel.panel-default(ng-if='network_interfaces | isNotEmpty')
    .panel-heading
      | Network
    table.table.hw-info-table
      tr(ng-repeat='net in network_interfaces | orderBy: "dev"')
        td.hw-info-icon
          i.icon-share
        td.hw-info-content
          span.lbl.lbl-primary
            | {{ net.dev }}
          | &#32;
          | {{ net.mac }}
          div(ng-repeat='ipv4 in net.inet', style={color: '#bbb'})
            | {{ ipv4 }}
          div(ng-repeat='ipv6 in net.inet6' style={color: '#bbb'})
            | {{ ipv6 }}
          div(ng-if='net.provider.provider == "aws"' style={color: '#bbb'})
            span.lbl.lbl-success aws
            | &#32;
            | {{ net.provider['local-ipv4s'] }}
        td.hw-info-attributes
          object-attributes(obj-id='net.id')

mixin server_info_block_devices
  .panel.panel-default(ng-if='disks | isNotEmpty')
    .panel-heading
      | Block Devices
    table.table.hw-info-table
      tr(ng-repeat='disk in disks | orderBy:"name"')
        td.hw-info-icon
          i.fa.fa-database(ng-if='disk.type == "disk"')
          i.icon-disc(ng-if='disk.type == "rom"')
        td.hw-info-content
          span.lbl.lbl-primary
            | /dev/{{ disk.name }}
          div(style={color: '#bbb'})
            | {{ disk.model }} ({{ disk.size | numeraljs:'capacity' }})
          div(style={color: '#ccc'} ng-if='disk.mountpoint')
            | Mounted to {{ disk.mountpoint }}
        td.hw-info-attributes
          object-attributes(obj-id='disk.id')

mixin server_info_pci_devices
  .panel.panel-default(ng-if='pci_devices | isNotEmpty')
    .panel-heading
      | PCI Devices
    table.table.hw-info-table
      tr(ng-repeat='pcidev in pci_devices | orderBy:"address"')
        td.hw-info-icon
          i.fa.fa-sitemap
        td.hw-info-content
          span.lbl.lbl-primary
            | {{ pcidev.address }}
          | &#32;
          | {{ pcidev.name }}
          br
          span(style={color: '#bbb'})
            | {{ pcidev.type }}, {{ pcidev.vendor }}
        td.hw-info-attributes
          object-attributes(obj-id='pcidev.id')

mixin server_info
  +server_info_resources
  +server_info_net
  +server_info_block_devices
  +server_info_pci_devices

mixin server_status
  li
    span
      .status-dot.status-dot-3x(class='status-dot-{{ server.status }}')
      | &#32;
      | {{ (server.status == 'success') ? 'Online' : 'Offline' }}
      div.opacity05(ng-if='server.status != "success"')
        | Last seen {{ moment(server.last_seen).fromNow() }}

mixin cluster
  li
    span
      span(ng-if='clustersToServers.cluster_of_server[obj_id]')
        i.fa.fa-server
        object-name(id='clustersToServers.cluster_of_server[obj_id]')
      span(ng-if='!clustersToServers.cluster_of_server[obj_id]')
        i Not in cluster
      .dropdown.pull-right
        a.text-link.dropdown-toggle(id='dropdown-menu-cluster-{{ obj_id }}' data-toggle='dropdown'
                                    aria-haspopup='true' aria-expanded='true')
          i.icon-options-vertical(style='padding:0 0 0 1rem;')
        ul.dropdown-menu(aria-labelledby='dropdown-menu-{{ type_obj.id }}')
          li.text-left(ng-if='clustersToServers.cluster_of_server[obj_id]')
            a.small.link(ng-click='remove_from_cluster()')
              i.fa.fa-fw.fa-minus-circle
              | Remove
          li(ng-if='!clustersToServers.cluster_of_server[obj_id]')
            a.small.link(ng-click='add_to_cluster()')
              i.fa.fa-fw.fa-plus-circle
              | Add To Cluster

mixin provider_info
  ul(ng-if='server.agent_info.provider_info.provider == "aws"')
    li.heading
      | Provider: AWS
    li
      span
        div AMI ID
        .gray {{ server.agent_info.provider_info['ami-id'] }}
    li
      span
        div Availability Zone
        .gray {{ server.agent_info.provider_info.placement['availability-zone'] }}
    li
      span
        div Public IPv4
        .gray {{ server.agent_info.provider_info['public-ipv4'] }}

mixin agent_errors
  ul(ng-if='server.errors | isNotEmpty')
    li.heading
      | Errors
    li.text-link(ng-repeat='error in server.errors' ng-click='show_agent_error(error)')
      span.text-danger
        strong
          | Agent error in
          | &#32;
          | {{ error.info }}
        div
          | Click for more information...

mixin navigation
  ul
    li.heading
      | Overview
    +server_status
    +cluster
  +provider_info
  +agent_errors
  ul
    li.heading
      | Downloads
    li
      a(prevent-default target='_{{ obj_id }}_config.json' href='/api/v1/labs/{{ allLabs.byId[lab_id].slug }}/{{ dbObjects.byId[obj_id].slug }}/config.json' ng-click='show_config_json()')
        i.fa.fa-fw.fa-code
        | config.json
  object-attributes(obj-id='obj_id' show-heading='true')

mixin content
  .page-layout
    .page-layout-nav
      +navigation
    .page-layout-content
      +server_info

div(ng-controller='ServerPageController')
  +content
