body.warehaus-white {
  background-color: $warehaus-bg-color-white;
}

body.warehaus-gray {
  background-color: $warehaus-bg-color-gray;
}

.text-primary {
  color: $brand-primary;
}

.text-success {
  color: $brand-success;
}

.text-info {
  color: $brand-info;
}

.text-warning {
  color: $brand-warning;
}

.text-danger {
  color: $brand-danger;
}

.text-unknown {
  color: $gray-light;
}
