ul.dropdown-menu {
  li.heading {
    color: $labsome-dropdown-menu-heading-color;
    text-transform: uppercase;
    padding: $labsome-dropdown-menu-heading-padding;
    font-size: $labsome-dropdown-menu-heading-font-size;
  }

  li.text {
    display: block;
    padding: $labsome-dropdown-menu-heading-padding;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
}
