.first-setup-wrapper {
  background-color: $warehaus-bg-color-gray;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.first-setup {
  border-radius: $warehaus-standalone-box-radius;
  padding: $warehaus-standalone-box-padding;

  img.logo {
    margin: $warehaus-standalone-box-img-margin;
    width: 192px;
    height: 48px;
  }
}
