input[type="text"].inline {
  border-width: 0 0 1px 0;
  border-color: #aaa;
  border-style: dashed;
  width: 5rem;
  text-align: center;
  background-color: transparent;

  &:focus {
    outline: 0 0 1px 0;
    outline-offset: none;
  }
}

.no-margin {
  margin: 0;
}
