.top-level-container {
  .sidebar {
    margin: 0;
    left: 0;
    width: $warehaus-sidebar-width;
    position: fixed;
    height: 100%;
    overflow-y: hide;
  }

  .main-view-wrapper {
    margin: 0 0 0 ($warehaus-sidebar-width);

    .main-view {
      width: 100%;
    }
  }
}
