.page-layout {
  position: relative;
  width: $warehaus-page-layout-width;
  min-width: $warehaus-page-layout-width;
  max-width: $warehaus-page-layout-width;
  margin: 0;
  padding: 0;

  .page-layout-nav {
    position: absolute;
    top: 0;
    left: (4 * $warehaus-page-header-spacing);
    padding: 0 (4 * $warehaus-page-header-spacing) 0 0;
    width: $warehaus-page-layout-nav-width;
    min-width: $warehaus-page-layout-nav-width;
    max-width: $warehaus-page-layout-nav-width;
    font-size: $warehaus-page-layout-nav-font-size;
  }

  .page-layout-content {
    position: absolute;
    padding: 0 0 0 (4 * $warehaus-page-header-spacing);
    top: 0;
    left: $warehaus-page-layout-nav-width;
    width: ($warehaus-page-layout-width - $warehaus-page-layout-nav-width);
    min-width: ($warehaus-page-layout-width - $warehaus-page-layout-nav-width);
    max-width: ($warehaus-page-layout-width - $warehaus-page-layout-nav-width);
  }

  .page-layout-content-no-nav {
    position: absolute;
    top: 0;
    left: (4 * $warehaus-page-header-spacing);
    width: $warehaus-page-layout-width;
    min-width: $warehaus-page-layout-width;
    max-width: $warehaus-page-layout-width;

    .big-message {
      padding: 1rem;
      border-width: 1px;
      border-style: solid;
      border-color: darken($warehaus-bg-color-gray, 10%);
      border-radius: $border-radius-base;
    }
  }
}
