.page-layout-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      white-space: nowrap;
      margin: 0;
      padding: 0;

      &.heading {
        display: block;
        font-weight: $warehaus-font-weight-normal;
        text-transform: uppercase;
        color: $warehaus-page-layout-nav-heading-color;
        padding: $warehaus-page-layout-nav-section-spacing
                 $warehaus-page-layout-nav-spacing-horizontal
                 $warehaus-page-layout-nav-section-items
                 $warehaus-page-layout-nav-spacing-horizontal;
      }

      &.active {
        background-color: #eee;
        border-width: 0 2px 0 0;
        border-style: solid;
        border-color: #aaa;
      }

      a {
        outline: 0;
        margin: 0;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      > a, > span {
        display: block;
        padding: $warehaus-page-layout-nav-section-items $warehaus-page-layout-nav-spacing-horizontal;
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }

  ul + ul {
    padding: $warehaus-page-layout-nav-section-spacing 0 0 0;
  }
}
