.page-layout {
  @include container;
  position: relative;

  .page-layout-nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 ($grid-gutter-width / 2);
    width: $warehaus-page-layout-nav-width;
    min-width: $warehaus-page-layout-nav-width;
    max-width: $warehaus-page-layout-nav-width;
    font-size: $warehaus-page-layout-nav-font-size;
  }

  .page-layout-content {
    position: absolute;
    top: 0;
    left: ($warehaus-page-layout-nav-width + ($grid-gutter-width / 2));
    right: ($grid-gutter-width / 2);
  }

  .page-layout-content-no-nav {
    position: absolute;
    padding: 0 ($grid-gutter-width / 2);
    top: 0;
    left: 0;
    right: 0;

    .big-message {
      padding: 1rem;
      border-width: 1px;
      border-style: solid;
      border-color: darken($warehaus-bg-color, 10%);
      border-radius: $border-radius-base;
    }
  }
}
