.sidebar {
  @include gradient-vertical-three-colors($start-color: lighten($labsome-sidebar-bg, 5%),
                                          $mid-color: lighten($labsome-sidebar-bg, 10%),
                                          $end-color: lighten($labsome-sidebar-bg, 3%),
                                          $color-stop: 25%);
  border-style: solid;
  border-width: 0 $labsome-sidebar-border-width 0 0;
  border-color: $labsome-sidebar-border-color;

  color: $labsome-sidebar-color;

  ul.sidebar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      width: $labsome-sidebar-width;
      text-align: center;
      padding: .5rem 0;

      &.logo {
        margin: .5rem 0 .75rem 0;

        img {
          width: $labsome-sidebar-logo-width;
          height: $labsome-sidebar-logo-width / 4;
          border-width: 0;
        }
      }

      a {
        color: $labsome-sidebar-color;
        outline: 0;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        .nav-icon {
          font-size: 1.75rem;
        }

        .nav-text {
          font-size: .75rem;
        }
      }

      &.active {
        @include gradient-horizontal($start-color: darken($labsome-sidebar-link-active-color, 20%),
                                     $end-color: $labsome-sidebar-link-active-bg,
                                     $start-percent: 2%, $end-percent: 3%);
        color: $labsome-sidebar-link-active-color;
        border-style: solid;
        border-width: 0 $labsome-sidebar-border-width 0 0;
        border-color: $labsome-sidebar-border-color;

        a {
          color: $labsome-sidebar-link-active-color;
        }
      }
    }
  }
}
