@import "../../../dist/static/bower_components/lato-font/scss/lato-font";

html, html a {
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html, body {
  font-size: $font-size-base;
  font-weight: $warehaus-font-weight-normal;
}

b, strong {
  font-family: $font-family-sans-serif;
  font-weight: $warehaus-font-weight-strong;
}

mild {
  font-weight: $warehaus-font-weight-mild;
}

.label {
  font-family: $font-family-sans-serif;
  font-weight: $warehaus-font-weight-normal;
}

.x08  { font-size: floor(0.8  * $font-size-base); }
.x09  { font-size: floor(0.9  * $font-size-base); }
.x1   { font-size: floor(1    * $font-size-base); }
.x11  { font-size: floor(1.1  * $font-size-base); }
.x12  { font-size: floor(1.2  * $font-size-base); }
.x15  { font-size: floor(1.5  * $font-size-base); }
.x175 { font-size: floor(1.75 * $font-size-base); }
.x2   { font-size: floor(2    * $font-size-base); }
.x25  { font-size: floor(2.5  * $font-size-base); }
.x3   { font-size: floor(3    * $font-size-base); }
.x35  { font-size: floor(3.5  * $font-size-base); }
.x4   { font-size: floor(4    * $font-size-base); }
.x45  { font-size: floor(4.5  * $font-size-base); }
.x5   { font-size: floor(5    * $font-size-base); }
.x55  { font-size: floor(5.5  * $font-size-base); }
.x6   { font-size: floor(6    * $font-size-base); }
.x65  { font-size: floor(6.5  * $font-size-base); }
.x7   { font-size: floor(7    * $font-size-base); }
.x75  { font-size: floor(7.5  * $font-size-base); }
.x8   { font-size: floor(8    * $font-size-base); }
.x85  { font-size: floor(8.5  * $font-size-base); }
.x9   { font-size: floor(9    * $font-size-base); }
.x95  { font-size: floor(9.5  * $font-size-base); }
.x10  { font-size: floor(10   * $font-size-base); }

.lh15  { line-height: 1.5rem; }
.lh175 { line-height: 1.75rem; }
.lh2   { line-height: 2rem;    }
.lh35  { line-height: 3.5rem;  }

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.nowrap {
  white-space: nowrap;
}
