$warehaus-font-weight-min:           200;
$warehaus-font-weight-thin:          300;
$warehaus-font-weight-normal:        400;
$warehaus-font-weight-mild:          500;
$warehaus-font-weight-strong:        600;
$warehaus-bg-color:                  white;
$warehaus-nav-color:                 #fbfbfb;

//-------------------------------
// Overridden Bootstrap variables
//-------------------------------

$body-bg:                $warehaus-bg-color;
$gray-base:              #111;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           lighten($gray-base, 93.5%);

$brand-primary:           #337ab7;
$brand-success:           #5cb85c;
$brand-info:              #5bc0de;
$brand-warning:           #f0ad4e;
$brand-danger:            #d9534f;

$font-size-base:          16px;
$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif;
$font-family-serif:       $font-family-sans-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    $warehaus-font-weight-mild;
$btn-font-weight:         $warehaus-font-weight-normal;
$alert-link-font-weight:  $warehaus-font-weight-normal;
$badge-font-weight:       $warehaus-font-weight-thin;
$navbar-height:           64px;
$navbar-margin-bottom:    0;

//------------------
// Warehaus variables
//------------------

$lato-font-path:                            "/static/bower_components/lato-font/fonts";

$warehaus-login-box-margin:                 (2 * $font-size-base) ($font-size-base);
$warehaus-login-box-padding:                ($font-size-base) ($font-size-base);
$warehaus-login-box-radius:                 (0.75 * $font-size-base);
$warehaus-login-box-img-margin:             (1.5 * $font-size-base) 0 (3 * $font-size-base) 0;
$warehaus-login-box-width:                  450px;

$warehaus-nav-link-active-border-color:     orange;
$warehaus-nav-link-active-border-size:      3px;

$navbar-warehaus-color:                     #777;
$navbar-warehaus-bg:                        $warehaus-nav-color;
$navbar-warehaus-border:                    $warehaus-nav-color;
$navbar-warehaus-link-hover-color:          $navbar-warehaus-color;
$navbar-warehaus-link-hover-bg:             transparent;
$navbar-warehaus-link-active-bg:            transparent;
$navbar-warehaus-link-active-border-color:  $warehaus-nav-link-active-border-color;
$navbar-warehaus-link-active-border-size:   $warehaus-nav-link-active-border-size;
$navbar-warehaus-link-disabled-color:       #ccc;
$navbar-warehaus-link-disabled-bg:          transparent;
$navbar-warehaus-brand-size:                28px;
$navbar-warehaus-brand-frame:               6px;
$navbar-warehaus-toggle-hover-bg:           transparent;
$navbar-warehaus-toggle-icon-bar-bg:        transparent;
$navbar-warehaus-toggle-border-color:       #ddd;

$warehaus-page-top-nav-bg:                  $warehaus-nav-color;
$warehaus-page-top-nav-border-color:        #e7e7e7;
$warehaus-page-top-nav-border-size:         1px;
$warehaus-page-top-nav-spacing:             floor(0.25 * $font-size-base);

$warehaus-page-layout-width:                  950px;
$warehaus-page-layout-nav-width:              250px;
$warehaus-page-layout-nav-font-size:          floor(0.875 * $font-size-base);
$warehaus-page-layout-nav-heading-color:      #aaa;
$warehaus-page-layout-nav-active-color:       #f3f3f3;
$warehaus-page-layout-nav-spacing-horizontal: floor($font-size-base / 2);
$warehaus-page-layout-nav-section-items:      floor(0.4 * $font-size-base);
$warehaus-page-layout-nav-section-spacing:    floor(1.5 * $font-size-base);

$warehaus-dropdown-menu-heading-color:      #aaa;
$warehaus-dropdown-menu-heading-padding:    3px 20px; // Bootstrap value
$warehaus-dropdown-menu-heading-font-size:  .8rem;

$nav-link-padding:                         .5rem 1rem;
$warehaus-nav-pills-color:                  gray;
$warehaus-nav-pills-font-weight:            $warehaus-font-weight-strong;
$warehaus-nav-pills-padding:                1rem 1rem .5rem 1rem;

$warehaus-profile-picture-border-color:     lighten($gray-base, 70%);

$warehaus-status-dot-size:                  4px;
$warehaus-status-dot-border-size:           2px;
$warehaus-status-dot-contrast:              10%;
$warehaus-status-dot-color-primary:         $brand-primary;
$warehaus-status-dot-color-success:         $brand-success;
$warehaus-status-dot-color-info:            $brand-info;
$warehaus-status-dot-color-warning:         $brand-warning;
$warehaus-status-dot-color-danger:          $brand-danger;
$warehaus-status-dot-color-unknown:         white;

$lbl-default-bg:            $gray-light;
$lbl-primary-bg:            $brand-primary;
$lbl-success-bg:            $brand-success;
$lbl-info-bg:               $brand-info;
$lbl-warning-bg:            $brand-warning;
$lbl-danger-bg:             $brand-danger;
$lbl-color:                 #fff;
$lbl-link-hover-color:      #fff;
