extends ../base/base

append vars
  - html_attributes = {'ng-app': 'labsome.site', 'ng-strict-di': ''}

append head
  base(href='/site/')
  title(ng-controller='TitleController' ng-bind="title || 'Labsome'")

append body
  header(ng-include="'/static/templates/main-site/views/top-navbar.html'")
  div(ui-view='')
