extends ../base/base

append vars
  - html_attributes = {'ng-app': 'labsome.site', 'ng-strict-di': ''}

append head
  base(href='/ui/')
  title(ng-controller='TitleController' ng-bind="title || 'Labsome'")
  include ../base/favicon-success

append body
  header(ng-include='"/static/templates/main-site/top-navbar.html"')
  div(ui-view='main')
