mixin no_clusters
  .big-message
    h3.text-center
      i.icon-ghost.x6
    p.text-center.x2
      | No
      | &#32;
      object-type-title(type-id='type_obj_id')
      | &#32;
      | Yet
    p.text-center.x12
      | Create your first cluster and add some servers to it
    p.text-center.x2
      button.btn.btn-lg.btn-success(type='button' ng-click='create_cluster()')
        | Create a
        | &#32;
        object-type-title(type-id='type_obj_id' sample='1')

mixin cluster_row
  table.details
    tr
      td.pad-right
        .x15
          i.fa.fa-fw.fa-server
      td.heading.nowrap(style={width: '100%'})
        object-name.uppercase(id='cluster.id')
        span(ng-if='clustersToServers.servers_of_cluster[cluster.id] | isNotEmpty')
          | &#32;
          span.small.badge
            object-count-with-type(type-id='dbObjects.byId[clustersToServers.servers_of_cluster[cluster.id][0]].type_id'
                                   count='{{ clustersToServers.servers_of_cluster[cluster.id].length }}')
        span.small.opacity075(ng-repeat='ownership in cluster.ownerships')
          | &nbsp;
          user-mention(id='ownership.owner_id')

mixin cluster_list
  .panel.panel-default
    ul.list-group
      a.link.list-group-item(ng-repeat='cluster in objects | orderObjectBy:"display_name"'
                             ui-sref='.object-page({objSlug: "{{ cluster.slug }}"})')
        +cluster_row

mixin create_button
  p.text-right(ng-if='curUser.is_admin')
    button.btn.btn-default(type='button' ng-click='create_cluster()')
      | Create a Cluster

mixin content
  .page-layout(ng-controller='ClusterListController')
    .page-layout-content-no-nav(ng-if='objects | isEmpty')
      +no_clusters
    .page-layout-content-no-nav(ng-if='objects | isNotEmpty')
      +cluster_list
      +create_button

+content
