mixin servers
  .panel.panel-default
    .panel-heading
      | Servers In This
      | &#32;
      object-type-title(type-id='type_obj_id' sample='1')
    ul.list-group
      li.list-group-item(ng-repeat='server_id in clustersToServers.servers_of_cluster[obj_id]')
        object-name(id='server_id')
      li.list-group-item(ng-if='clustersToServers.servers_of_cluster[obj_id] | isEmpty')
        div(style={'font-style': 'italic'})
          i.fa.fa-meh-o
          | &nbsp;
          | No servers in this
          | &#32;
          object-type-name(type-id='type_obj_id' sample='1')
          | .
        div
          | Try adding some servers or maybe
          | &#32;
          mild
            a.link(ng-click='delete_cluster()')
              | delete this
              | &#32;
              object-type-name(type-id='type_obj_id' sample='1')
          | &#32;
          | if you don't need it anymore.

mixin owners
  .main-with-extra(ng-if='dbObjects.byId[obj_id].ownerships | isEmpty')
    .main(style={'font-style': 'italic', 'font-size': '1rem'})
      | (no owner)
    .extra.text-right.dropdown
      a.text-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true' style={padding: '0 .25rem;'})
        i.icon-options-vertical
      ul.dropdown-menu.pull-right(style={'font-size': '1rem'})
        li
          a.link(ng-click='take_ownership()')
            | Take Ownership
  .main-with-extra(ng-if='dbObjects.byId[obj_id].ownerships | isNotEmpty')
    .main(style={'font-size': '1rem'})
      span(ng-repeat='ownership in dbObjects.byId[obj_id].ownerships')
        user-link(id='ownership.owner_id')
    .extra.text-right.dropdown(ng-if='(dbObjects.byId[obj_id].ownerships | isNotEmpty) && ((dbObjects.byId[obj_id].ownerships[0].owner_id == curUser.id) || curUser.is_admin)')
      a.text-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true' style={padding: '0 .25rem;'})
        i.icon-options-vertical
      ul.dropdown-menu.pull-right(style={'font-size': '1rem'})
        li.text-left
          a.link(ng-click='release_ownership()')
            | Release Ownership

mixin status_line
  .main-with-extra
    .main.ellipsis(ng-if='dbObjects.byId[obj_id].status && dbObjects.byId[obj_id].status.text')
      | {{ dbObjects.byId[obj_id].status.text }}
    .main(ng-if='!(dbObjects.byId[obj_id].status && dbObjects.byId[obj_id].status.text)' style={'font-style': 'italic', 'font-size': '1rem'})
      | (no status)
    .extra.text-right.dropdown
      a.text-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true' style={padding: '0 .25rem;'})
        i.icon-options-vertical
      ul.dropdown-menu.pull-right(style={'font-size': '1rem'})
        li
          a.link(ng-click='edit_status()')
            | Edit Status
        li.divider(ng-if='dbObjects.byId[obj_id].status && dbObjects.byId[obj_id].status.text')
        li(ng-if='dbObjects.byId[obj_id].status && dbObjects.byId[obj_id].status.text')
          a.link(ng-click='clear_status()')
            | Clear Status

mixin navigation
  ul.page-layout-menu
    li.heading
      | Status
    li
      span
        +owners
    li
      span
        +status_line
    li.heading
      | Downloads
    li
      a(prevent-default target='_{{ obj_id }}_config.json' href='/api/v1/labs/{{ allLabs.byId[lab_id].slug }}/{{ dbObjects.byId[obj_id].slug }}/config.json' ng-click='show_config_json()')
        i.fa.fa-fw.fa-code
        | config.json
  object-attributes(obj-id='obj_id' show-heading='true' list-class='page-layout-menu')
  ul.page-layout-menu
    li.heading
      | Other Actions
    li
      a.link(ng-click='delete_cluster()')
        | Delete This
        | &#32;
        object-type-title(type-id='type_obj_id' sample='1')

mixin content
  .page-layout
    .page-layout-nav
      +navigation
    .page-layout-content
      +servers

div(ng-controller='ClusterPageController')
  +content
