mixin servers
  .panel.panel-default
    .panel-heading
      | Servers In This
      | &#32;
      object-type-title(type-id='type_obj_id' sample='1')
    ul.list-group
      li.list-group-item(ng-repeat='server_id in clustersToServers.servers_of_cluster[obj_id]')
        object-name(id='server_id')
      li.list-group-item(ng-if='clustersToServers.servers_of_cluster[obj_id] | isEmpty')
        div(style={'font-style': 'italic'})
          i.fa.fa-meh-o
          | &nbsp;
          | No servers in this
          | &#32;
          object-type-name(type-id='type_obj_id' sample='1')
          | .
        div
          | Try adding some servers or maybe
          | &#32;
          mild
            a.link(ng-click='delete_cluster()')
              | delete this
              | &#32;
              object-type-name(type-id='type_obj_id' sample='1')
          | &#32;
          | if you don't need it anymore.

mixin owners
  span(ng-repeat='ownership in dbObjects.byId[obj_id].ownerships')
    user-avatar(id='ownership.owner_id' size='1.5rem')
    | &nbsp;
    user-display-name(id='ownership.owner_id')
  span(ng-if='dbObjects.byId[obj_id].ownerships | isEmpty' style={'font-style': 'italic'})
    i.fa.fa-fw.fa-meh-o
    | Nobody

mixin navigation
  ul.page-layout-menu
    li.heading
      | Owners
    li
      +owners
    li(ng-if='dbObjects.byId[obj_id].ownerships | isEmpty')
      a.link(ng-click='take_ownership()')
        | Take Ownership
    li.text-left(ng-if='(dbObjects.byId[obj_id].ownerships | isNotEmpty) && ((dbObjects.byId[obj_id].ownerships[0].owner_id == curUser.id) || curUser.is_admin)')
      a.link(ng-click='release_ownership()')
        | Release Ownership
    li.heading
      | Downloads
    li
      a(prevent-default target='_{{ obj_id }}_config.json' href='/api/v1/labs/{{ allLabs.byId[lab_id].slug }}/{{ dbObjects.byId[obj_id].slug }}/config.json' ng-click='show_config_json()')
        i.fa.fa-fw.fa-code
        | config.json
  object-attributes(obj-id='obj_id' show-heading='true' list-class='page-layout-menu')
  ul.page-layout-menu
    li.heading
      | Other Actions
    li
      a.link(ng-click='delete_cluster()')
        | Delete This
        | &#32;
        object-type-title(type-id='type_obj_id' sample='1')

mixin content
  .page-layout
    .page-layout-nav
      +navigation
    .page-layout-content
      +servers

div(ng-controller='ClusterPageController')
  +content
