extends ../base/base

append vars
  - ng_app = 'labsome.first_setup'

append head
  base(href='/first-setup')
  title
    | Welcome - Labsome

mixin content_welcome
  .text-center
    img.logo(src='/static/img/logo.png')
  h3
    | Welcome
  p
    | Hey there! We just need a few settings to set Labsome up.

mixin auth_method
  h3 Users Directory
  p
    | Labsome uses LDAP to log users in, please fill-in your LDAP directory information:
  .form-group(ng-class="{'has-error': setupForm.ldapServer.$dirty && setupForm.ldapServer.$invalid}")
    label
      | LDAP Server Address
    input.form-control(type='text' name='ldapServer' placeholder='LDAP Server Address' required='' ng-disabled='finished' ng-model='settings.ldap_server')
    p.help-block
      | Format:&nbsp;
      samp
        | ldap[s]://[username:password@]hostname[:port]
  .form-group(ng-class="{'has-error': setupForm.ldapRootDN.$dirty && setupForm.ldapRootDN.$invalid}")
    label
      | Root DN
    input.form-control(type='text' name='ldapRootDN' placeholder='Organization Root DN' required='' ng-disabled='finished' ng-model='settings.ldap_root_dn')
    p.help-block
      | Format:&nbsp;
      samp
        | dc=example,dc=com

mixin admin_user
  h3 Admin User
  p
    | Please fill-in the username of the user that's supposed to administer this site.
    br
    span(style='color:#bbb;')
      | You can add privileges to other users once this setup is complete.
  .row
    .col-sm-6
      .form-group(ng-class="{'has-error': setupForm.adminUsername.$dirty && setupForm.adminUsername.$invalid}")
        input.form-control(type='text', name='adminUsername', placeholder='Administrator username or email', required='', ng-disabled='finished', ng-model='settings.admin_username')
    .col-sm-6
      .form-group(ng-class="{'has-error': setupForm.adminPassword.$dirty && setupForm.adminPassword.$invalid}")
        input.form-control(type='password' name='adminPassword' placeholder='Administrator password (for testing)' required='' ng-disabled='finished' ng-model='settings.admin_password')

mixin save_button
  h3.text-center
    button.btn.btn-lg.btn-primary(ng-disabled='finished || setupForm.$invalid', ng-click='save_settings(settings)')
      span.fa.fa-fw.fa-square-o(ng-if='!finished && setupForm.$invalid')
      span.fa.fa-fw.fa-check-square-o(ng-if='!finished && setupForm.$valid')
      span.fa.fa-fw.fa-circle-o-notch.fa-spin(ng-if='finished')
      | &nbsp;Save Settings

mixin content
  form(role='form', name='setupForm', novalidate='', ng-controller='FirstSetupController')
    +content_welcome
    +auth_method
    +admin_user
    +save_button

append body
  .container.first-setup
    .row
      .col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
        .panel.panel-default
          .panel-body(ng-controller='FirstSetupController')
            +content
        include ../base/footer
