body.labsome-white {
  background-color: $labsome-bg-color-white;
}

body.labsome-gray {
  background-color: $labsome-bg-color-gray;
}

.text-primary {
  color: $brand-primary;
}

.text-success {
  color: $brand-success;
}

.text-info {
  color: $brand-info;
}

.text-warning {
  color: $brand-warning;
}

.text-danger {
  color: $brand-danger;
}
