.link {
  cursor: pointer;
}

.text-link {
  cursor: pointer;
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($text-color, 30%);
    text-decoration: none;
  }
}

.no-ul {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.list-group {
  .list-group-item.active {
    .link {
      color: white;

      &:hover,
      &:focus {
        color: darken(white, 5%);
      }
    }
  }
}
