.sidebar {
  @include gradient-vertical-three-colors($start-color: lighten($labsome-sidebar-bg, 5%),
                                          $mid-color: lighten($labsome-sidebar-bg, 10%),
                                          $end-color: lighten($labsome-sidebar-bg, 3%),
                                          $color-stop: 25%);
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: $labsome-sidebar-border;

  color: $labsome-sidebar-color;

  ul.sidebar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      width: $labsome-sidebar-width;
      text-align: center;
      padding: .5rem 0;

      &.user-info {
        margin: .5rem 0 .75rem 0;

        user-avatar {
          display: block;

          img.profile-picture {
            width: $labsome-sidebar-width * 0.7;
            height: $labsome-sidebar-width * 0.7;
            border-width: 0;
          }
        }
      }

      a {
        color: $labsome-sidebar-color;
        outline: 0;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        .nav-icon {
          font-size: 1.75rem;
        }

        .nav-text {
          font-size: .75rem;
        }
      }

      &.active {
        @include gradient-horizontal($start-color: lighten($labsome-sidebar-link-active-bg, 25%),
                                     $end-color: $labsome-sidebar-link-active-bg,
                                     $start-percent: 2%, $end-percent: 3%);
        color: $labsome-sidebar-link-active-color;
      }
    }
  }
}
