$labsome-font-weight-min:           100;
$labsome-font-weight-thin:          200;
$labsome-font-weight-normal:        300;
$labsome-font-weight-mild:          400;
$labsome-font-weight-strong:        600;

//-------------------------------
// Overridden Bootstrap variables
//-------------------------------

$gray-base:              #111;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           lighten($gray-base, 93.5%);

$brand-primary:           #53687d;
$brand-success:           #5cb85c;
$brand-info:              #5bc0de;
$brand-warning:           #f0ad4e;
$brand-danger:            #d9534f;

$font-size-base:          16px;
$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif;
$font-family-serif:       $font-family-sans-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    $labsome-font-weight-mild;
$btn-font-weight:         $labsome-font-weight-normal;
$alert-link-font-weight:  $labsome-font-weight-normal;
$badge-font-weight:       $labsome-font-weight-thin;

//------------------
// Labsome variables
//------------------

$lato-font-path:                           '/static/bower_components/lato-font/fonts';

$labsome-standalone-box-padding:           2rem .5rem;
$labsome-standalone-box-radius:            .75rem;
$labsome-standalone-box-img-margin:        1rem;

$labsome-bg-color-gray:                    #f9f9f9;
$labsome-bg-color-white:                   white;

$labsome-sidebar-width:                    85px;
$labsome-sidebar-logo-width:               64px;
$labsome-sidebar-color:                    #aaa;
$labsome-sidebar-bg:                       #333;
$labsome-sidebar-border-width:             1px;
$labsome-sidebar-border-color:             #eee;
$labsome-sidebar-profile-picture-border:   lighten($labsome-sidebar-border-color, 5%);
$labsome-sidebar-link-active-color:        white;
$labsome-sidebar-link-active-bg:           lighten($labsome-sidebar-bg, 20%);

$labsome-page-header-bg:                   $labsome-bg-color-gray;
$labsome-page-header-border-color:         #e7e7e7;
$labsome-page-header-spacing:              .25rem;

$labsome-dropdown-menu-heading-color:      #aaa;
$labsome-dropdown-menu-heading-padding:    3px 20px; // Bootstrap value
$labsome-dropdown-menu-heading-font-size:  .8rem;

$nav-link-padding:                         .5rem 1rem;
$labsome-nav-pills-color:                  gray;
$labsome-nav-pills-font-weight:            $labsome-font-weight-strong;
$labsome-nav-pills-padding:                1rem 1rem .5rem 1rem;

$labsome-profile-picture-border-color:     lighten($gray-base, 70%);

$labsome-status-dot-size:                  4px;
$labsome-status-dot-border-size:           2px;
$labsome-status-dot-contrast:              10%;
$labsome-status-dot-color-primary:         $brand-primary;
$labsome-status-dot-color-success:         $brand-success;
$labsome-status-dot-color-info:            $brand-info;
$labsome-status-dot-color-warning:         $brand-warning;
$labsome-status-dot-color-danger:          $brand-danger;
$labsome-status-dot-color-unknown:         white;
