//-------------------------------
// Overridden Bootstrap variables
//-------------------------------

$font-size-base:          16px;
$font-family-sans-serif:  "LatoLatinWebLight", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family:    "LatoLatinWebSemiBold";
$navbar-height:           75px;

//------------------
// Labsome variables
//------------------

$labsome-standalone-box-padding:    2rem .5rem;
$labsome-standalone-box-radius:     .75rem;
$labsome-standalone-box-img-margin: 1rem;

$labsome-bg-color:              #f0f0f0;

// Navbar

$navbar-labsome-color:                     #777;
$navbar-labsome-bg:                        white;
$navbar-labsome-border:                    darken($navbar-labsome-bg, 10%);
$navbar-labsome-profile-picture-size:      35px;
$navbar-labsome-logo-height:               35px;

$navbar-labsome-link-color:                $navbar-labsome-color;
$navbar-labsome-link-hover-color:          $navbar-labsome-color;
$navbar-labsome-link-hover-bg:             transparent;
$navbar-labsome-link-active-color:         darken($navbar-labsome-color, 5%);
$navbar-labsome-link-active-bg:            #f9f9f9;
$navbar-labsome-link-disabled-color:       #ccc;
$navbar-labsome-link-disabled-bg:          transparent;

$navbar-labsome-toggle-hover-bg:           #ddd;
$navbar-labsome-toggle-icon-bar-bg:        #888;
$navbar-labsome-toggle-border-color:       #ddd;
