$labsome-font-weight-min:           100;
$labsome-font-weight-thin:          200;
$labsome-font-weight-normal:        300;
$labsome-font-weight-mild:          400;
$labsome-font-weight-strong:        600;

//-------------------------------
// Overridden Bootstrap variables
//-------------------------------

$font-size-base:          16px;
$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family:    "Open Sans";
$headings-font-weight:    $labsome-font-weight-mild;
$btn-font-weight:         $labsome-font-weight-min;
$alert-link-font-weight:  $labsome-font-weight-normal;
$badge-font-weight:       $labsome-font-weight-thin;
$navbar-height:           70px;

//------------------
// Labsome variables
//------------------

$OpenSansPath: "/static/bower_components/open-sans-fontface/fonts";

$labsome-standalone-box-padding:    2rem .5rem;
$labsome-standalone-box-radius:     .75rem;
$labsome-standalone-box-img-margin: 1rem;

$labsome-bg-color:              #fafafa;

// Navbar

$navbar-labsome-color:                     #777;
$navbar-labsome-bg:                        white;
$navbar-labsome-border:                    darken($navbar-labsome-bg, 10%);
$navbar-labsome-profile-picture-size:      35px;
$navbar-labsome-logo-height:               35px;

$navbar-labsome-link-color:                $navbar-labsome-color;
$navbar-labsome-link-hover-color:          $navbar-labsome-color;
$navbar-labsome-link-hover-bg:             transparent;
$navbar-labsome-link-active-color:         darken($navbar-labsome-color, 5%);
$navbar-labsome-link-active-bg:            #f9f9f9;
$navbar-labsome-link-disabled-color:       #ccc;
$navbar-labsome-link-disabled-bg:          transparent;

$navbar-labsome-toggle-hover-bg:           #ddd;
$navbar-labsome-toggle-icon-bar-bg:        #888;
$navbar-labsome-toggle-border-color:       #ddd;

// Dropdown menu heading

$labsome-dropdown-menu-heading-color:      #aaa;
$labsome-dropdown-menu-heading-padding:    3px 20px; // Bootstrap value
$labsome-dropdown-menu-heading-font-size:  .8rem;

// Navigation pills

$nav-link-padding:                         .5rem 1rem;
$labsome-nav-pills-color:                  gray;
$labsome-nav-pills-font-weight:            $labsome-font-weight-strong;
$labsome-nav-pills-padding:                1rem 1rem .5rem 1rem;
