mixin alert
  .alert.alert-danger
    p
      i.fa.fa-fw.fa-warning
      | Warning
    p
      | You are about to delete
      strong
        object-name(id='object_id')
      | .

mixin outcome
  p
    | If you proceed, your ownership of this cluster and all servers in it will be released.
  p
    | Are you are you want to delete this cluster?

mixin confirm_button
  button.btn.btn-danger(ng-click='ok()')
    | Yes, Delete This Cluster
  | &nbsp;
  button.btn.btn-default(ui-sref='^')
    | No, Take Me Back

mixin content
  .panel.panel-default(ng-controller='DeleteClusterController')
    .panel-body
      +alert
      +outcome
      +confirm_button

+content
