extends ../base/base

append vars
  - html_attributes = {'ng-app': 'labsome.first_setup', 'ng-strict-di': ''}

append head
  base(href='/first-setup')
  include ../base/favicon-success
  title
    | Welcome - Labsome

mixin content_welcome
  p
    | Hey there! We just need a few settings before starting up.

mixin auth_method
  h2 Users Directory
  p
    | Labsome uses LDAP to log users in, please fill-in your LDAP directory information:
  include ../../partials/main-site/views/admin/ldap-settings

mixin admin_user
  h2 Admin User
  p
    | Please fill-in the username of the user that's supposed to administer this site.
    br
    span(style='color:#bbb;')
      | You can add privileges to other users once this setup is complete.
  .row
    .col-sm-6
      .form-group(ng-class="{'has-error': theForm.adminUsername.$dirty && theForm.adminUsername.$invalid}")
        input.form-control(type='text', name='adminUsername', placeholder='Administrator username or email', required='', ng-disabled='working', ng-model='settings.admin_username' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false')
    .col-sm-6
      .form-group(ng-class="{'has-error': theForm.adminPassword.$dirty && theForm.adminPassword.$invalid}")
        input.form-control(type='password' name='adminPassword' placeholder='Administrator password (for testing)' required='' ng-disabled='working' ng-model='settings.admin_password' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false')

mixin save_button
  .text-center(ng-if='error')
    .alert.alert-danger
      p(style='font-size:1.5rem;')
        | Something went wrong
      p
        | {{ error }}
  h4.text-center
    button.btn.btn-lg.btn-primary(ng-disabled='working || theForm.$invalid' ng-click='test_settings()')
      span.fa.fa-fw.fa-circle-o-notch.fa-spin(ng-if='working')
      span(ng-if='!working')
        | Test Settings

mixin content
  form(role='form', name='theForm', novalidate='', ng-controller='FirstSetupController')
    +content_welcome
    +auth_method
    +admin_user
    +save_button

append body
  .container.first-setup(ng-controller='FirstSetupController')
    .row
      .col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
        .text-center
          img.logo(src='/static/img/logo-black.png')
        .panel.panel-default
          .panel-body
            +content
        include ../base/footer

append scripts
  script(type='text/javascript').
    $(function() {
      $('input').first().focus();
    });
