extends ../base/base
 
append head
  title
    | Database not configured - Labsome

mixin content
  p
    strong
      i.fa.fa-warning
      |  Database is not configured
  p
    | Labsome was started without database configuration.
    br
    | This can happen when starting Labsome's Docker container without passing any information about the database to connect to.
  hr
  p
    strong
      | Please see&nbsp;
      a(href='http://www.labsome.com' target='_labsome_homepage')
        | Labsome's installation documentation
      | &nbsp;on how to run Labsome.

append body
  .container.no-database
    .row
      .col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
        .text-center
          img.logo(src='/static/img/logo-black.png')
        .alert.alert-warning
          +content
