mixin page_header
  .page-top-nav
    .page-top-nav-row
      .page-top-nav-row-cell(style={padding: '0 .5rem 0 0'})
        user-avatar(id='user.id' size='42px')
      .page-top-nav-row-cell
        .x12
          strong
            user-display-name(id='user.id')
        div
          user-email(id='user.id')
    .page-top-nav-links
      ul
        li(ui-sref-active='active')
          a.link(ui-sref='.profile')
            | Profile
        li(ui-sref-active='active')
          a.link(ui-sref='.api-tokens')
            | API Tokens
        li.padding

+page_header
ui-view
