mixin under_construction
  .big-message
    h3.text-center
      i.icon-wrench.x6
    .x12.text-center
      | This page is under construction
    h3.text-center
      a.btn.btn-default(ng-click='curUser.logout()')
        | Sign Out

mixin content
  .page-layout
    .page-layout-content-no-nav
      +under_construction

+content
