extends ../base/base

append vars
  - html_attributes = {'ng-app': 'labsome.site', 'ng-strict-di': ''}
  - body_class = 'labsome-white'

append head
  base(href='/ui/')
  title
    | {{ $breadcrumbs | map:'title' | reverse | join:' - ' }} - Labsome
  include ../base/favicon-success

append body
  .ng-cloak(style={'opacity': '0.5'} ng-if='!curUser.is_ready')
    three-bounce-spinner
  .ng-cloak(ng-if='curUser.is_ready && !curUser.is_authenticated' ng-include="'/inline/auth/login.html'")
  .ng-cloak(ng-if='curUser.is_ready && curUser.is_authenticated' ng-include="'/inline/main-site/index.html'")
