extends ../base/base

append vars
  - html_attributes = {'ng-app': 'labsome.site', 'ng-strict-di': ''}
  - body_class = 'labsome-white'

append head
  base(href='/ui/')
  title(ng-controller='TitleController' ng-bind="title || 'Labsome'")
  include ../base/favicon-success

append body
  .top-level-container
    .sidebar(ng-include="'/inline/main-site/sidebar.html'")
    .main-view-wrapper
      .main-view(ui-view='')
