form(role='form' name='newCluster' ng-submit='create()')
  .modal-header
    button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
      span(aria-hidden="true") &times;
    h4.modal-title
      | Create Cluster

  .modal-body
    .form-group
      label.control-label
        | Cluster Name
      input.form-control(type='text' placeholder='Cluster Display Name' ng-model='cluster.display_name' required='' focus-me='true' ng-disabled='working')
      slug(from='cluster.display_name' to='cluster.slug')
      input(type='hidden' ng-model='cluster.slug' required='')
    p(style={color: '#aaa'})
      i.fa.fa-fw.fa-info-circle
      span(ng-if='!cluster.slug')
        | Please start typing...
      span(ng-if='cluster.slug')
        | This cluster's API name will be:&nbsp;
        samp
          | {{ cluster.slug }}

  .modal-footer
    button.btn.btn-default(ng-click='cancel()')
      | Cancel
    button.btn.btn-success(ng-click='create()' ng-disabled='newCluster.$invalid || working')
      | Create Cluster
