.modal-header
  button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
    span(aria-hidden="true") &times;
  h4.modal-title
    | Delete
    object-name(id='obj_id')

mixin alert
  .alert.alert-danger
    p
      i.fa.fa-fw.fa-warning
      | Warning
    p
      | You are about to delete
      strong
        object-name(id='obj_id')
      | .

mixin outcome
  p
    | If you proceed, your ownership of this
    | &#32;
    object-type-name(type-id='type_obj_id' sample='1')
    | &#32;
    | and all servers in it will be released.
  p
    | Are you are you want to delete this
    | &#32;
    object-type-name(type-id='type_obj_id' sample='1')
    | ?

.modal-body
  +alert
  +outcome

.modal-footer
  button.btn.btn-default(type='button' ng-click='cancel()')
    | Cancel
  button.btn.btn-danger(type='submit' ng-click='ok()')
    | Yes, Delete This
    | &#32;
    object-type-title(type-id='type_obj_id' sample='1')
