block vars
  - html_attributes = {};
  - body_class = 'labsome-gray';

doctype html
html(lang="en")&attributes(html_attributes)
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
      link(rel='stylesheet' href='/static/bower_components/fontawesome/css/font-awesome.min.css')
      link(rel='stylesheet' href='/static/bower_components/simple-line-icons/css/simple-line-icons.css')
      link(rel='stylesheet' href='/static/bower_components/ui-select/dist/select.min.css')
      link(rel='stylesheet' href='/static/labsome.css')
  body(class=body_class)
    block body
    block scripts
      script(src='/static/bower_components/jquery/dist/jquery.min.js')
      script(src='/static/bower_components/socket.io-client/socket.io.js')
      script(src='/static/bower_components/angular/angular.min.js')
      script(src='/static/bower_components/angular-bootstrap/ui-bootstrap.min.js')
      script(src='/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
      script(src='/static/bower_components/angular-sanitize/angular-sanitize.min.js')
      script(src='/static/bower_components/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/static/bower_components/angular-filter/dist/angular-filter.min.js')
      script(src='/static/bower_components/angular-socket-io/socket.min.js')
      script(src='/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
      script(src='/static/bower_components/moment/min/moment.min.js')
      script(src='/static/bower_components/angular-slugify/angular-slugify.js')
      script(src='/static/bower_components/js-md5/build/md5.min.js')
      script(src='/static/bower_components/ui-select/dist/select.min.js')
      script(src='/static/templates.js')
      script(src='/static/labsome.js')
