mixin one_lab
  span(ng-if='allLabs.ready && (allLabs.all.length == 1) && !curUser.is_admin')
    strong
      lab-name(id='lab_id')

mixin multiple_labs
  .dropdown(ng-if='allLabs.ready && ((allLabs.all.length > 1) || curUser.is_admin)')
    .dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
      strong
        lab-name(id='lab_id')
      i.fa.fa-fw.fa-angle-down
    ul.dropdown-menu
      li.heading(ng-if='allLabs.all.length > 1')
        | Other Labs
      li(ng-repeat='other_lab in allLabs.all | orderBy:"display_name"')
        a.link(ui-sref='labs.lab-page({labSlug: other_lab.slug})' ng-if='other_lab.id != lab_id')
          lab-name(id='other_lab.id')
      li.divider(ng-if='curUser.is_admin && (allLabs.all.length > 1)')
      li(ng-if='curUser.is_admin')
        a.link(ng-click='create_lab()')
          | Create a New Lab

mixin page_header
  .page-header
    .page-header-row
      .page-header-row-cell.x3
        i.icon-chemistry
      .page-header-row-cell
        .x12
          +one_lab
          +multiple_labs
    ul.page-header-nav
      li.spacer
      li(ng-repeat='type_key in allLabs.byId[lab_id].active_types | orderBy:type_name_from_key' ui-sref-active='active')
        a.link(ui-sref='.{{ type_key }}')
          object-type-name(lab-id='lab_id' type-key='type_key')
      li.padding
      li(ng-if='curUser.is_admin' ui-sref-active='active')
        a.link(ui-sref='.manage')
          i.icon-settings
      li.spacer

mixin lab_empty
  .big-message
    h3.text-center
      i.icon-clock.x6(ng-if='!curUser.is_admin')
      i.icon-ghost.x6(ng-if='curUser.is_admin')
    p.text-center.x2
      | This lab is still empty
    p.text-center.x12(ng-if='!curUser.is_admin')
      | Please wait you administrator is adding new hardware
    p.text-center.x12(ng-if='curUser.is_admin')
      | You need to start by choosing which hardware types are in this lab
    p.text-center.x2(ng-if='curUser.is_admin')
      button.btn.btn-lg.btn-success(ui-sref='.manage.set-hardware-types')
        | Set Hardware Types

mixin content
  ui-view
    .page-layout(ng-if='allLabs.byId[lab_id].active_types | isEmpty')
      .page-layout-content-no-nav
        +lab_empty

+page_header
+content
