.text-center
  | &copy; 2015
  a(href='https://github.com/labsome/labsome/graphs/contributors' target='_labsome_gh_contributors')
    | &nbsp;Labsome contributors
  span(style='opacity:0.25;')
    | &nbsp;&nbsp;|&nbsp;&nbsp;
  a(href='http://www.labsome.com', target='_labsome_documentation')
    | Documentation
  span(style='opacity:0.25;')
    | &nbsp;&nbsp;|&nbsp;&nbsp;
  a(href='https://github.com/labsome/labsome', target='_labsome_gh_repo')
    | GitHub page
