mixin no_servers
  .panel.panel-default
    .panel-body
      h3.text-center
        i.icon-clock.x6(ng-if='!curUser.is_admin')
        i.icon-ghost.x6(ng-if='curUser.is_admin')
      p.text-center.x2
        | No Servers Yet
      p.text-center.x12(ng-if='!curUser.is_admin')
        | Please wait you administrator is adding new servers
      p.text-center.x12(ng-if='curUser.is_admin')
        | You need to install Labsome's agent on your servers to see them here
      p.text-center.x2(ng-if='curUser.is_admin')
        button.btn.btn-lg.btn-success(ui-sref='^.manage.add-servers')
          | Start Adding Servers

mixin server_row
  table.details
    tr
      td.pad-right(style={'vertical-align': 'middle'})
        .status-dot.status-dot-3x(class='status-dot-{{ server.status }}')
      td.heading(style={'width': '100%', 'vertical-align': 'middle'})
        object-name.uppercase(id='server.id')
      td
        .dropdown
          a.text-link.dropdown-toggle(id='dropdown-menu-{{ lab.id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
            i.icon-options-vertical(style='padding:0 1rem;')
          ul.dropdown-menu.pull-right(aria-labelledby='dropdown-menu-{{ lab.id }}')
            li.text-left(ng-if='!server.cluster_id')
              a.link(ng-click='add_to_cluster(server.id)')
                | Add To Cluster
            li.text-left(ng-if='server.cluster_id')
              a.link(ng-click='remove_from_cluster(server.id)')
                | Remove From Cluster
    tr(ng-if='server.cluster_id')
      td
      td.tagline
        | Part of
        | &nbsp;
        i.fa.fa-server
        object-name(id='server.cluster_id')

mixin server_list
  .panel.panel-default
    ul.list-group
      li.list-group-item(ng-repeat='server in objects | orderBy:"display_name"')
        +server_row

mixin content
  .container
    .row
      .col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
        span(ng-if='objects | isEmpty')
          +no_servers
        span(ng-if='objects | isNotEmpty')
          +server_list

ui-view
  +content
