mixin token_row
  .main-with-extra
    .main.ellipsis
      code
        | {{ api_token.id }}
      div
        small.gray
          i.icon-clock
          | &#32;
          | Created
          | &#32;
          span(am-time-ago='api_token.created_at')
    .extra(style={'padding-left': '1rem'})
      .dropdown.pull-right
        a.text-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
          i.icon-options-vertical
        ul.dropdown-menu
          li
            a.link(ng-click='revoke_token(api_token.id)')
              i.fa.fa-fw.fa-trash-o
              | Revoke API Token

mixin api_tokens
  ul.list-group
    li.list-group-item(ng-repeat='api_token in apiTokens | orderBy:"created_at"')
      +token_row
    button.list-group-item(type='button' ng-click='create_new_token()' style={'color': '#888'})
      i.fa.fa-plus
      | &nbsp;
      | Create New Token

mixin content
  .panel.panel-default
    .panel-heading
      | API Tokens
    .panel-body(ng-if='helpText')
      p
        | API-tokens allow you to authenticate without a password. This is great for scripts or using
        | &#32;
        samp curl
        | &#32;
        | from the command-line.
      p
        | To use API-tokens, start by creating a token below. You can create multiple tokens if you
        | need to authenticate from several places. This would allow you to revoke tokens in the future.
      p
        | Once you have a token, put the token in an
        | &#32;
        code
          | Authentication-Token
        | &#32;
        | HTTP header of your API calls.
    +api_tokens

+content
