mixin modal_header
  button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
    span(aria-hidden="true") &times;
  h4.modal-title
    | Change Password

mixin modal_body
  .form-group(ng-if='users.byUserId[userId].has_password')
    label.control-label
      | Current Password
    input.form-control(type='password' ng-model='updated_user.password.current' placeholder='Current Password'
                       focus-me='!curUser.is_admin' required='' ng-if='!curUser.is_admin')
    p.help-block(ng-if='curUser.is_admin')
      i.fa.fa-fw.fa-shield
      | Admins don't have to enter the current password
  .form-group
    label.control-label
      | New Password
    input.form-control(name='newPassword' type='password' ng-model='updated_user.password.new_password'
                       placeholder='New Password' required='' focus-me='curUser.is_admin')
  .form-group
    input.form-control(name='confirmPassword' type='password' ng-model='updated_user.password.confirm'
                       placeholder='Confirm Password' required='' match-password='newPassword')
  wh-error-box(error='error')

mixin modal_footer
  button.btn.btn-link(type='button' ng-click='cancel()')
    | Cancel
  button.btn.btn-success(type='submit' ng-click='save()' ng-disabled='changePassword.$invalid || working')
    | Save Changes

form(name='changePassword' role='form' ng-submit='save()')
  .modal-header
    +modal_header
  .modal-body(ng-init='updated_user.password = {}')
    +modal_body
  .modal-footer
    +modal_footer
