mixin no_labs
  h1
    | &nbsp;
  .big-message
    h3.text-center(ng-if='curUser.is_admin')
      i.icon-ghost.x6
    h3.text-center(ng-if='!curUser.is_admin')
      i.icon-clock.x6
    p.text-center.x2
      | No labs were added yet
    p.text-center.x12(ng-if='curUser.is_admin')
      | To add servers and other types of hardware, start by creating a lab.
    p.text-center.x2(ng-if='curUser.is_admin')
      button.btn.btn-lg.btn-success(type='button' ng-click='createLab()')
        | Create a New Lab
    p.text-center.x12(ng-if='!curUser.is_admin')
      | Your administrator is now creating your first lab, it will show up as soon as it's ready

.page-layout(ng-if='!allLabs.ready')
  .page-layout-content-no-nav(style={'opacity': '0.5'})
    .text-center
      three-bounce-spinner

.page-layout(ng-if='allLabs.ready && (allLabs.all.length == 0)')
  .page-layout-content-no-nav
    +no_labs

ui-view(ng-if='allLabs.ready && (allLabs.all.length > 0)')
