mixin lab_empty
  .big-message(ng-if='dbObjects.byParentId[allLabs.byId[lab_id].type_id] | isEmpty')
    h3.text-center
      i.icon-clock.x6(ng-if='!curUser.is_admin')
      i.icon-ghost.x6(ng-if='curUser.is_admin')
    p.text-center.x2
      | This lab is still empty
    p.text-center.x12(ng-if='!curUser.is_admin')
      | Please wait you administrator is adding new hardware
    p.text-center.x12(ng-if='curUser.is_admin')
      | You need to start by configuring which hardware goes in this lab
    p.text-center.x2(ng-if='curUser.is_admin')
      button.btn.btn-lg.btn-success(type='button' ui-sref='.manage')
        | Configure This Lab

mixin lab_types
  .panel.panel-default
    .panel-heading
      | Hardware Types
    ul.list-group
      a.list-group-item(ng-repeat='(type_obj_id, type_obj) in dbObjects.byParentId[allLabs.byId[lab_id].type_id] | orderBy:"type_obj.display_name.plural"'
                        ui-sref='.browse-type({typeSlug: type_obj.slug})')
        object-type-title(type-id='type_obj.id')
        .pull-right
          span.badge
            | {{ dbObjects.byTypeId[type_obj_id] | count }}
          i.fa.fa-fw.fa-angle-right

mixin lab_activity
  .panel.panel-default
    .panel-heading
      | Recent Activity
    .panel-body
      i Coming soon

mixin lab_page
  .row
    .col-md-8.col-sm-6
      +lab_types
    .col-md-4.col-sm-6
      +lab_activity

mixin content
  ui-view
    .page-layout
      .page-layout-content-no-nav
        +lab_empty
    .page-layout(ng-if='dbObjects.byParentId[allLabs.byId[lab_id].type_id] | isNotEmpty')
      .page-layout-content-no-nav
        +lab_page

+content
