mixin divider
  span(style='opacity:0.25;')
    | &nbsp;&nbsp;|&nbsp;&nbsp;

mixin copyright
  | &copy; 2015-{{ moment().year() }}
  a(href='https://github.com/warehaus/warehaus/graphs/contributors' target='_warehaus_gh_contributors')
    | &nbsp;Warehaus contributors

mixin links
  a(href='http://www.warehaus.io/docs/license', target='_warehaus_license')
    | License
  +divider
  a(href='http://www.warehaus.io/docs/', target='_warehaus_documentation')
    | Documentation
  +divider
  a(href='https://github.com/warehaus/warehaus', target='_warehaus_gh_repo')
    | GitHub page

.text-center
  .visible-xs
    div
      +copyright
    div
      +links
  .hidden-xs
    +copyright
    +divider
    +links
