.text-center
  | &copy; 2015
  a(href='https://github.com/warehaus/warehaus/graphs/contributors' target='_warehaus_gh_contributors')
    | &nbsp;Warehaus contributors
  span(style='opacity:0.25;')
    | &nbsp;&nbsp;|&nbsp;&nbsp;
  a(href='http://warehaus.io', target='_warehaus_documentation')
    | Documentation
  span(style='opacity:0.25;')
    | &nbsp;&nbsp;|&nbsp;&nbsp;
  a(href='https://github.com/warehaus/warehaus', target='_warehaus_gh_repo')
    | GitHub page
