mixin content
  p
    | Labsome manages servers by running a small agent on then.
  p
    | This agent stays connected to Labsome so it knows the server is online, plus
    | it sends diagnostic information once in a while to make sure the server is
    | functioning properly.
  .alert.alert-info
    p
      strong
        i.fa.fa-info-circle
        | &nbsp;Each lab has a different agent
    p
      | Labsome generates different agent code for each lab. Make sure to download
      | the agent for each lab separarely.
  h4
    | 1. Download the agent code
  p
    | Run the following on your servers to download the agent code:
  pre
    | curl {{ agent_url }} > agent.py
  p
    | Or in case you only have <samp>wget</samp>:
  pre
    | wget -O agent.py {{ agent_url }}
  h4
    | 2. Run as root
  p
    | Run the agent as the root user, and make sure the agent also starts on boot.
  p
    | Once you run the agent, your server will immediately show up in Labsome.

.panel.panel-default
  .panel-body
    +content
