mixin menu
  ul
    li.heading
      | Lab Hardware
    li(ui-sref-active='active')
      a(ui-sref='.set-hardware-types')
        | Hardware Types
    li(ui-sref-active='active')
      a(ui-sref='.add-servers')
        | Adding Servers
    li.heading
      | Other Actions
    li(ui-sref-active='active')
      a(ui-sref='.rename')
        | Rename Lab
    li(ui-sref-active='active')
      a(ui-sref='.delete')
        | Delete Lab

mixin content
  .page-layout
    .page-layout-nav
      +menu
    .page-layout-content
      ui-view

+content
