mixin menu
  ul.nav.nav-pills.nav-stacked
    li.heading
      | Lab Hardware
    li(ui-sref-active='active')
      a(ui-sref='.set-hardware-types')
        | Hardware Types
    li(ui-sref-active='active')
      a(ui-sref='.add-servers')
        | Adding Servers
    li.heading
      | Other Actions
    li(ui-sref-active='active')
      a(ui-sref='.rename')
        | Rename Lab
    li(ui-sref-active='active')
      a(ui-sref='.delete')
        | Delete Lab

mixin content
  .row
    .col-sm-9
      ui-view
    .col-sm-3
      +menu
      
+content
