h4
  | Rename
  lab-name(id='lab_id')

mixin alerts
  .alert.alert-warning
    p
      strong
        i.fa.fa-fw.fa-warning
        | Careful
    p
      | Renaming a lab changes the URLs of all the pages of the lab. Any links you or
      | other users had to this lab would break.
  p
    | You can always undo this operation by renaming back to the original name.

mixin form
  form(role='form' ng-submit='ok()' ng-init='result.display_name = allLabs.byId[lab_id].display_name')
    .form-group
      label.control-label
        | New Lab Name
      input.form-control(type='text' ng-model='result.display_name' placeholder='Name' required='')
      slug(from='result.display_name' to='result.slug')
      input(type='hidden' ng-model='result.slug' required='')
    p(style={color: '#aaa'})
      i.fa.fa-fw.fa-info-circle
      span(ng-if='!result.slug')
        | Please start typing...
      span(ng-if='result.slug')
        | This lab's API name will be:&nbsp;
        samp
          | {{ result.slug }}

mixin buttons
  button.btn.btn-primary(type='button' ng-click='ok()')
    | Save Changes

+alerts
+form
+buttons
