h4
  | New Hardware Type

form(name='newHardwareType' role='form' ng-submit='save()')
  ul.list-group
    li.list-group-item(ng-repeat='(type_key, type) in dbTypeClasses.byTypeKey'
                       ng-class='{"list-group-item-info": type_key == new_type.type_key}'
                       ng-if='type.user_controllable')
      .radio
        label
          input(type='radio' ng-change='selection_changed()' ng-model='new_type.type_key' ng-value='type_key')
          | {{ type.display_name }}
          p.help-block
            | {{ type.description }}

  .form-group(ng-if='new_type.type_key')
    slug(from='new_type.display_name.singular' to='new_type.slug')
    input(type='hidden' ng-model='new_type.slug' required='')
    label.control-label
      | Make This Look Right
    p
      | Mommy got me one
      | &nbsp;
      input.inline(type='text' ng-model='new_type.display_name.singular' required='')
      | &nbsp;
      | for my birthday but I wanted two
      | &nbsp;
      input.inline(type='text' ng-model='new_type.display_name.plural' required='')

  p(style={color: '#aaa'} ng-if='new_type.slug')
    i.fa.fa-fw.fa-info-circle
    | This type's API name will be:&nbsp;
    samp
      | {{ new_type.slug }}

  wh-error-box(error='error')

  button.btn.btn-success(type='submit' ng-click='save()' ng-disabled='newHardwareType.$invalid || working' ng-if='new_type.slug')
    | Create Hardware Type
