h4
  | Local Users
p.
  Local users are stored in Warehaus' database.
p.
  This works great for small deployments and for creating bot users. For regular
  users in large deployments you may want to consider connecting to an LDAP server
  or use Google login.
p
  | Currently there {{ (users.all.length == 1) ? 'is' : 'are' }}
  | &#32;
  mild
    | {{ users.all.length }}
  | &#32;
  | {{ (users.all.length == 1) ? 'user' : 'users' }} in this backend.

p
  button.btn.btn-primary(ng-click='createNewUser()')
    | Create a New User
