mixin modal_header
  button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
    span(aria-hidden="true") &times;
  h4.modal-title
    | Create a New User

mixin form_type
  label.control-label
    | User Type
  ul.list-group
    li.list-group-item
      .radio
        label
          input(type='radio' ng-model='user.role' value='user' required='')
          i.fa.fa-fw.fa-user
          | Regular User
          p.help-block
            | Regular users can login into Warehaus, interact with hardware and other users
            | and can receive notifications. They can't enter this administration area, create new
            | labs or change permissions.
    li.list-group-item
      .radio
        label
          input(type='radio' ng-model='user.role' value='admin' required='')
          i.fa.fa-fw.fa-shield
          | Administrator
          p.help-block
            | Administrators can do anything they want.
    li.list-group-item
      .radio
        label
          input(type='radio' ng-model='user.role' value='bot' required='')
          i.fa.fa-fw.fa-code
          | Bot User
          p.help-block
            | Bot users can only invoke API calls which are permitted to regular users.
            | Therefore they can't log into the site and can't receive notifications.

mixin form_username
  .form-group(ng-if='user.role')
    label.control-label
      | Username
    input.form-control(type='text' ng-model='user.username' placeholder='Username' required='' focus-me='true')

mixin form_display_name
  .form-group(ng-if='user.role')
    label.control-label
      | Display Name
    input.form-control(type='text' ng-model='user.display_name' placeholder='Display Name' required='')

mixin form_email
  .form-group(ng-if='user.role && (user.role != "bot")')
    label.control-label
      | Email
    input.form-control(type='email' ng-model='user.email' placeholder='Email Address' required='')

mixin modal_body
  +form_type
  +form_username
  +form_display_name
  +form_email

mixin modal_footer
  button.btn.btn-default(type='button' ng-click='cancel()')
    | Cancel
  button.btn.btn-success(type='submit' ng-click='save()' ng-disabled='createUser.$invalid || working')
    | Create User

form(name='createUser' role='form' ng-submit='save()')
  .modal-header
    +modal_header
  .modal-body
    +modal_body
  .modal-footer
    +modal_footer
