mixin fields
  .form-group
    label.control-label
      | Select Type Behavior
    select.form-control(ng-change='selection_changed()' ng-model='new_type.type_key')
      option(ng-repeat='(type_key, type) in dbTypeClasses.byTypeKey' ng-value='type_key' ng-if='type_key != "builtin-lab"')
        | {{ type.display_name }}
    slug(from='new_type.display_name.singular' to='new_type.slug')
    input(type='hidden' ng-model='new_type.slug' required='')

  .form-group(ng-if='new_type.type_key')
    label.control-label
      | Make This Look Right
    p
      | Mommy got me one
      | &nbsp;
      input.inline(type='text' ng-model='new_type.display_name.singular' required='')
      | &nbsp;
      | for my birthday but I wanted two
      | &nbsp;
      input.inline(type='text' ng-model='new_type.display_name.plural' required='')

  p(style={color: '#aaa'} ng-if='new_type.slug')
    i.fa.fa-fw.fa-info-circle
    | This type's API name will be:&nbsp;
    samp
      | {{ new_type.slug }}

  .alert.alert-danger(ng-if='error')
    strong
      i.fa.fa-frown-o
      | &nbsp;
      | Oh no
    br
    | {{ error.message }}

form(name='newHardwareType' role='form' ng-submit='save()')
  .modal-header
    button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
      span(aria-hidden="true") &times;
    h4.modal-title
      | New Hardware Type

  .modal-body
    +fields

  .modal-footer
    button.btn.btn-default(ng-click='cancel()')
      | Cancel
    button.btn.btn-success(ng-click='create()' ng-disabled='newHardwareType.$invalid || working')
      | Create Hardware Type
