mixin content
  .panel.panel-default
    .panel-heading
      lab-name(id='lab_id')
    ul.list-group
      li.list-group-item
        i.fa.fa-fw.fa-wrench
        | &#32;
        | Under Construction

+content
