mixin token_row
  code
    | {{ api_token }}

mixin api_tokens
  .panel.panel-default
    ul.list-group
      li.list-group-item(ng-repeat='api_token in users.byUserId[selected_user_id].api_tokens')
        +token_row
      button.list-group-item(ng-if='curUser.is_admin' ng-click='users.new_api_token(selected_user_id)' style={'color': '#888', 'outline': '0'})
        i.fa.fa-plus
        | &nbsp;
        | Create New Token

mixin user_field(name)
  .form-group
    label.control-label= name
    p.form-control-static
      block

mixin user_fields
  form
    +user_field('First Name')
      | {{ users.byUserId[selected_user_id].first_name }}
    +user_field('Last Name')
      | {{ users.byUserId[selected_user_id].last_name }}
    +user_field('Email')
      | {{ users.byUserId[selected_user_id].email }}
    +user_field('Roles')
      | {{ users.byUserId[selected_user_id].roles | join:", " | titlecase }}

mixin user_details
  .panel.panel-default(ng-if='selected_user_id')
    .panel-body
      .row
        .col-md-4
          +user_fields
        .col-md-8
          label.control-label
            | API Tokens
          +api_tokens

mixin user_list
  ul
    li(ng-repeat='user in users.all | orderBy:"display_name"' ui-sref-active='active')
      a(ui-sref='.({id: "{{ user.id }}"})')
        user-avatar(id='user.id' size='1.5rem')
        | &nbsp;
        user-display-name(id='user.id')

mixin content
  .page-layout
    .page-layout-nav
      +user_list
    .page-layout-content
      +user_details

+content
