.modal-header
  button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
    span(aria-hidden="true") &times;
  h4.modal-title
    | Add
    | &#32;
    object-name(id='server_id')
    | &#32;
    | to Cluster

.modal-body
  p
    | Select the cluster to add
    | &#32;
    strong
      object-name(id='server_id')
    | &#32;
    | to
  form
    ul.list-group(ng-repeat='(type_obj_id, type_obj) in dbObjects.byParentId[dbObjects.byId[lab_id].type_id]'
                  ng-if='type_obj.type_key == hwClusterTypeKey')
      a.link.list-group-item(ng-repeat='(cluster_id, cluster) in dbObjects.byTypeId[type_obj_id]'
                             ng-click='select_cluster(cluster.id)',
                             ng-class="{active: selected_cluster == cluster.id}")
        .radio
          label
            input(type='radio' name='clusterId' value='{{ cluster.id }}' ng-model='selected_cluster')
            | &nbsp;
            object-name(id='cluster.id')

.modal-footer
  button.btn.btn-link(type='button' ng-click='cancel()')
    | Cancel
  button.btn.btn-primary(type='button' ng-click='ok()')
    | Add to Cluster
