mixin page_header
  .page-top-nav
    .page-top-nav-row
      .page-top-nav-row-cell.x3
        i.icon-chemistry
      .page-top-nav-row-cell
        .x12
          a(ui-sref='^.^')
            lab-name(id='lab_id')
          i.fa.fa-fw.fa-angle-right
          a(ui-sref='^')
            object-type-title(type-id='type_obj_id')
          i.fa.fa-fw.fa-angle-right
          strong
            object-name(id='obj_id')
      .page-top-nav-row-cell.text-right
        span

mixin server_info_resources
  .panel.panel-default(ng-if='dbObjects.byId[obj_id].hw_info')
    .panel-heading
      | Resources
    table.table.text-center
      tr
        td(style={width: '33%'})
          h1
            | {{ dbObjects.byId[obj_id].hw_info.cpu[0]['cpu MHz'] / 1024 | number:2 }}
            | &#32;
            | GHz
          | CPU
        td(style={width: '33%'})
          h1
            | {{ dbObjects.byId[obj_id].hw_info.mem.MemTotal | numeraljs:'capacity' }}
          | RAM
        td(style={width: '33%'})
          h1
            | {{ dbObjects.byId[obj_id].hw_info.fs['/'].total_bytes | numeraljs:'capacity' }}
          | Filesystem

mixin server_info_net
  .panel.panel-default(ng-if='dbObjects.byId[obj_id].hw_info.net')
    .panel-heading
      | Network
    table.table.hw-info-table
      tr(ng-repeat='net in dbObjects.byId[obj_id].hw_info.net | orderBy: "dev"')
        td.hw-info-icon
          i.icon-share
        td.hw-info-content
          span.label.label-primary
            | {{ net.dev }}
          | &#32;
          | {{ net.mac }}
          div(ng-repeat='ipv4 in net.inet', style={color: '#bbb'})
            | {{ ipv4 }}
          div(ng-repeat='ipv6 in net.inet6' style={color: '#bbb'})
            | {{ ipv6 }}
        td.hw-info-switches
          //i.x2.text-success.fa.fa-toggle-on

mixin server_info_block_devices
  .panel.panel-default(ng-if='dbObjects.byId[obj_id].hw_info.block_devices')
    .panel-heading
      | Block Devices
    table.table.hw-info-table
      tr(ng-repeat='blockdev in dbObjects.byId[obj_id].hw_info.block_devices')
        td.hw-info-icon
          i.fa.fa-database(ng-if='blockdev.type == "disk"')
          i.icon-disc(ng-if='blockdev.type == "rom"')
        td.hw-info-content
          span.label.label-primary
            | /dev/{{ blockdev.name }}
          br
          span(style={color: '#bbb'})
            | {{ blockdev.model }} ({{ blockdev.size | numeraljs:'capacity' }})

mixin server_info_pci_devices
  .panel.panel-default(ng-if='dbObjects.byId[obj_id].hw_info.pci_devices')
    .panel-heading
      | PCI Devices
    table.table.hw-info-table
      tr(ng-repeat='pcidev in dbObjects.byId[obj_id].hw_info.pci_devices')
        td.hw-info-icon
          i.fa.fa-sitemap
        td.hw-info-content
          span.label.label-primary
            | {{ pcidev.address }}
          | &#32;
          | {{ pcidev.name }}
          br
          span(style={color: '#bbb'})
            | {{ pcidev.type }}, {{ pcidev.vendor }}

mixin server_info
  +server_info_resources
  +server_info_net
  +server_info_block_devices
  +server_info_pci_devices

mixin server_status
  li
    span
      .status-dot.status-dot-3x(class='status-dot-{{ dbObjects.byId[obj_id].status }}')
      | &#32;
      | {{ (dbObjects.byId[obj_id].status == 'success') ? 'Online' : 'Offline' }}
      div.opacity05(ng-if='dbObjects.byId[obj_id].status != "success"')
        | Last seen {{ moment(dbObjects.byId[obj_id].last_seen).fromNow() }}

mixin cluster
  li
    span
      span(ng-if='clustersToServers.cluster_of_server[obj_id]')
        i.fa.fa-server
        object-name(id='clustersToServers.cluster_of_server[obj_id]')
      span(ng-if='!clustersToServers.cluster_of_server[obj_id]')
        i Not in cluster
      .dropdown.pull-right
        a.text-link.dropdown-toggle(id='dropdown-menu-cluster-{{ obj_id }}' data-toggle='dropdown'
                                    aria-haspopup='true' aria-expanded='true')
          i.icon-options-vertical(style='padding:0 0 0 1rem;')
        ul.dropdown-menu(aria-labelledby='dropdown-menu-{{ type_obj.id }}')
          li.text-left(ng-if='clustersToServers.cluster_of_server[obj_id]')
            a.small.link(ng-click='remove_from_cluster()')
              i.fa.fa-fw.fa-minus-circle
              | Remove
          li(ng-if='!clustersToServers.cluster_of_server[obj_id]')
            a.small.link(ng-click='add_to_cluster()')
              i.fa.fa-fw.fa-plus-circle
              | Add To Cluster

mixin navigation
  ul
    li.heading
      | Overview
    +server_status
    +cluster
  object-attributes(obj-id='obj_id')

mixin content
  .page-layout
    .page-layout-nav
      +navigation
    .page-layout-content
      +server_info

div(ng-controller='ServerPageController')
  +page_header
  +content
