form(role='form' name='newGenericObject' ng-submit='save()')
  .modal-header
    button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
      span(aria-hidden="true") &times;
    h4.modal-title
      | Create
      | &#32;
      object-type-title(type-id='type_obj_id' sample='1')

  .modal-body
    .form-group
      label.control-label
        object-type-title(type-id='type_obj_id' sample='1')
        | &#32;
        | Name
      input.form-control(type='text' placeholder='Name' ng-model='object.display_name' required='' focus-me='true' ng-disabled='working')
      slug(from='object.display_name' to='object.slug')
      input(type='hidden' ng-model='object.slug' required='')
    p(style={color: '#aaa'})
      i.fa.fa-fw.fa-info-circle
      span(ng-if='!object.slug')
        | Please start typing...
      span(ng-if='object.slug')
        | The API name will be:&nbsp;
        samp
          | {{ object.slug }}
    wh-error-box(error='error')

  .modal-footer
    button.btn.btn-default(type='button' ng-click='cancel()')
      | Cancel
    button.btn.btn-success(type='submit' ng-click='save()' ng-disabled='newGenericObject.$invalid || working')
      | Create
      | &#32;
      object-type-title(type-id='type_obj_id' sample='1')
