mixin no_objects
  .big-message
    h3.text-center
      i.icon-ghost.x6
    p.text-center.x2
      | No
      | &#32;
      object-type-title(type-id='type_obj_id')
      | &#32;
      | Yet
    p.text-center.x2
      button.btn.btn-lg.btn-success(type='button' ng-click='create_object()')
        | Create a new
        | &#32;
        object-type-title(type-id='type_obj_id' sample='1')

mixin object_row
  table.details
    tr
      td.pad-right
        .x15
          i.fa.fa-fw.fa-server
      td.heading.nowrap
        object-name.uppercase(id='object.id')

mixin object_list
  .panel.panel-default
    ul.list-group
      a.link.list-group-item(ng-repeat='object in objects | orderObjectBy:"display_name"'
                             ui-sref='.object-page({objSlug: "{{ object.slug }}"})')
        +object_row

mixin create_button
  p.text-right(ng-if='curUser.is_admin')
    button.btn.btn-default(type='button' ng-click='create_object()')
      | Create
      | &#32;
      object-type-title(type-id='type_obj_id' sample='1')

mixin content
  .page-layout(ng-controller='GenericObjectListController')
    .page-layout-content-no-nav(ng-if='objects | isEmpty')
      +no_objects
    .page-layout-content-no-nav(ng-if='objects | isNotEmpty')
      +object_list
      +create_button

+content
