mixin close_button
  .link.close-button(ng-click='toggle_sidebar()')
    span.icon &times;
    span.text  Close

mixin profile_picture
  p.text-center
    img.img-circle(ng-src="{{ curUser.profile.avatar_96 }}" style='width:96px; height: 96px; border:2px solid white;')
  p.text-center
    | {{ curUser.profile.display_name || '...' }}

mixin menu_account
  .heading
    | Your Account
  .menu-item
    a(ui-sref='account.profile')
      | Personal Details
  .menu-item
    a(href='/auth/logout')
      | Sign Out

mixin menu
  .menu
    +menu_account

mixin content
  +close_button
  +profile_picture
  +menu

+content
