mixin logo
  a(ui-sref='dashboard')
    img(src="/static/img/logo.png" style='width:152px; height:35px;')

mixin profile
  span(ng-controller='SidebarController' ng-if='curUser.profile')
    .sidebar(ng-include="'/static/templates/main-site/views/partials/sidebar.html'" ng-class="{'sidebar-open': is_open, 'sidebar-closed': !is_open}")
    .link(ng-click='toggle_sidebar()')
      img.img-circle(ng-src="{{ curUser.profile.avatar_32 }}")
      | {{ curUser.profile.givenName || '...' }}
      i.fa.fa-fw.fa-angle-right

mixin content
  table.navbar-labsome(role='navigation')
    tbody
      tr
        td.hidden-xs#brand
          +logo
        td#search
        td#profile
          +profile

+content
