form(name='createLab' role='form' ng-submit='save()')
  .modal-header
    button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
      span(aria-hidden="true") &times;
    h4.modal-title
      | Create Lab

  .modal-body
    .form-group
      label.control-label
        | Lab Display Name
      input.form-control(type='text' ng-model='lab.display_name' placeholder='Name' required='' focus-me='true')
      slug(from='lab.display_name' to='lab.slug')
      input(type='hidden' ng-model='lab.slug' required='')
    p(style={color: '#aaa'})
      i.fa.fa-fw.fa-info-circle
      span(ng-if='!lab.slug')
        | Please start typing...
      span(ng-if='lab.slug')
        | This lab's API name will be:&nbsp;
        samp
          | {{ lab.slug }}

  .modal-footer
    button.btn.btn-default(type='button' ng-click='cancel()')
      | Cancel
    button.btn.btn-success(type='button' ng-click='save()' ng-disabled='createLab.$invalid || working')
      | Create Lab
