.hw-info-table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        &.hw-info-icon {
          font-size: 1.75rem;
          padding: 10px 15px;
          vertical-align: top;
          white-space: nowrap;
        }

        &.hw-info-content {
          padding: 10px 0;
          vertical-align: top;
          line-height: 1.4rem;
          width: 100%;
        }

        &.hw-info-attributes {
          text-align: right;
          vertical-align: top;
          font-size: (0.875 * $font-size-base);

          ul {
            list-style: none;

            li {
              display: block;
              white-space: nowrap;
              text-align: left;
              vertical-align: middle;
              margin: (0.75 * $font-size-base) 0 0 0;

              &:first-child {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
