.navbar-warehaus {
  background-color: $navbar-warehaus-bg;
  border-color: $navbar-warehaus-border;

  .navbar-brand {
    padding: 0 1rem;

    img {
      display: inline;
      margin: (($navbar-height - $navbar-warehaus-brand-height) / 2) 0;
      width: auto;
      height: $navbar-warehaus-brand-height;
    }
  }

  .navbar-text {
    color: $navbar-warehaus-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-warehaus-color;

      &:hover,
      &:focus {
        color: $navbar-warehaus-link-hover-color;
        background-color: $navbar-warehaus-link-hover-bg;
        outline: 0;
      }
    }
    > .active > a {
      border-width: 0 0 $navbar-warehaus-link-active-border-size 0;
      border-style: solid;
      border-color: $navbar-warehaus-link-active-border-color;
      margin: 0 0 (-$navbar-warehaus-link-active-border-size) 0;

      &,
      &:hover,
      &:focus {
        color: $navbar-warehaus-color;
        background-color: $navbar-warehaus-link-active-bg;
        outline: 0;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-warehaus-link-disabled-color;
        background-color: $navbar-warehaus-link-disabled-bg;
        outline: 0;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-warehaus-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-warehaus-toggle-hover-bg;
      outline: 0;
    }
    .icon-bar {
      background-color: $navbar-warehaus-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-warehaus-border;
  }

  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-warehaus-link-active-bg;
        color: $navbar-warehaus-color;
        outline: 0;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      .open .dropdown-menu {
        > li > a {
          color: $navbar-warehaus-color;
          &:hover,
          &:focus {
            color: $navbar-warehaus-link-hover-color;
            background-color: $navbar-warehaus-link-hover-bg;
            outline: 0;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-warehaus-color;
            background-color: $navbar-warehaus-link-active-bg;
            outline: 0;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-warehaus-link-disabled-color;
            background-color: $navbar-warehaus-link-disabled-bg;
            outline: 0;
          }
        }
      }
    }
  }


  .navbar-link {
    color: $navbar-warehaus-color;
    &:hover {
      color: $navbar-warehaus-link-hover-color;
      outline: 0;
    }
  }

  .btn-link {
    color: $navbar-warehaus-color;
    &:hover,
    &:focus {
      color: $navbar-warehaus-link-hover-color;
      outline: 0;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-warehaus-link-disabled-color;
        outline: 0;
      }
    }
  }
}
