mixin topics
  ul.nav.nav-pills.nav-stacked
    li(role='presentation' ui-sref-active='active')
      a.link(ui-sref='.profile')
        | Profile
    li(role='presentation' ui-sref-active='active')
      a.link(ui-sref='.api-tokens')
        | API Tokens

mixin content
  .container
    .row
      .col-sm-3
        +topics
      .col-sm-9
        div(ui-view='')

+content
