mixin under_construction
  p &nbsp;
  h3.text-center
    i.icon-wrench.x6
  .x12.text-center
    | This page is under construction
  p &nbsp;

mixin content
  .panel.panel-default
    .panel-body
      +under_construction

+content
