mixin modal_header
  .modal-header
    button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click='cancel()')
      span(aria-hidden="true") &times;
    h4.modal-title
      | Edit
      | &#32;
      | {{ dbObjects.byId[dbObjects.byId[obj_id].type_id].attrs[attr_slug].display_name }}
      | &#32;
      | Value

mixin modal_body
  .modal-body
    input.form-control(type='text' name='value' ng-model='input.value')

mixin modal_footer
  .modal-footer
    button.btn.btn-link(type='button' ng-click='cancel()')
      | Cancel
    button.btn.btn-primary(type='button' ng-click='ok()' ng-disabled='editAttrValue.$invalid')
      | Save Changes

form(name='editAttrValue' ng-submit='ok()')
  +modal_header
  +modal_body
  +modal_footer
