mixin user_list
  ul
    li(ng-repeat='(userId, user) in users.byUserId | orderBy:"username"' ui-sref-active='active')
      a(ui-sref='.({id: "{{ user.id }}"})')
        user-avatar(id='user.id' size='1.5rem')
        | &nbsp;
        user-username(id='user.id')

mixin content
  .page-layout
    .page-layout-nav
      +user_list
    .page-layout-content
      .row(ng-if='selected_user_id')
        .col-sm-6
          user-profile(user-id='selected_user_id')
        .col-sm-6
          user-api-tokens(user-id='selected_user_id')
      .gray(ng-if='!selected_user_id')
        i.fa.fa-arrow-left
        | &#32;
        | Select a user

+content
